.callback {
    position: relative;
    color: #ffffff;
    padding-bottom: calc(30px + (80 - 30) * (100vw - 360px) / (1680 - 360));

    @media (min-width: 1640px) {
        padding-bottom: 80px;
    }

    &__contacts{
        color: #0F1926;
    }

    &__wrapper {
        background: #2f83eb;
        border-radius: 10px;
        padding: 9rem 9.7rem 5.4rem 9.8rem;
        position: relative;

        @media (max-width: 1040px) {
            padding: 4.5rem 4rem;
        }

        @media (max-width: 550px) {
            padding: 2.5rem 2rem;
            border-radius: 5px;
        }
    }

    &__wrapper__contacts {
        background: #F4F8FE;
    }

    &__content-container {
        display: flex;
        gap: 14.3rem;

        @media (max-width: 1280px) {
            gap: 4rem;
        }

        @media (max-width: 1040px) {
            flex-wrap: wrap;
        }

        @media (max-width: 440px) {
            gap: 2rem;
        }
    }

    &__content-container__first, &__content-container__first__contacts {
        display: flex;
        flex-direction: column;
    }

    &__content-container__first__contacts h2 {
        max-width: 20rem;
    }

    &__content-container__first h2 {
        opacity: 0;
        font: var(--title-L);
        font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));
        @media (min-width: 1681px) {
            font-size: 8.5rem;
        }
        @media (max-width: 550px) {
            width: 17rem;
        }
    }

    &__content-container__first__contacts h2 {
        color: #0F1926;
        font: var(--title-L);
        font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));
        @media (min-width: 1681px) {
            font-size: 8.5rem;
        }
        @media (max-width: 550px) {
            width: 17rem;
        }
    }

    &__content-container__first a {
        font: var(--title-S-narrow);
        font-size: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));
        padding-top: 19.5rem;

        @media (min-width: 1640px) {
            font-size: 40px;
        }

        @media (max-width: 1040px) {
            display: none;
        }
    }

    &__content-container__first__contacts a {
        font: var(--title-S-narrow);
        font-size: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));
        padding-top: 19.5rem;

        @media (min-width: 1640px) {
            font-size: 40px;
        }

        @media (max-width: 1040px) {
            display: none;
        }
        
        &:hover{
            color: var(--accent-primary-hover);
        }
    }

    &__content-container__first p {
        font: var(--body-S);
        color: #ffffff;
        opacity: 0.5;
        padding-top: 4.7rem;

        @media (max-width: 1040px) {
            display: none;
        }
    }

    &__content-container__first__contacts p {
        font: var(--body-S);
        color: #0F1926;
        opacity: 0.5;
        padding-top: 4.7rem;

        @media (max-width: 1040px) {
            display: none;
        }
    }

    &__content-container__second-mobile {
        display: flex;
        gap: 5rem;

        @media (max-width: 1040px) {
            flex-wrap: wrap;
        }

        @media (max-width: 440px) {
            gap: 2rem;
        }
    }

    &__content-container__second-mobile__contacts {
       color: #1B74E3;
       :hover{
           color: var(--accent-primary-hover);
       }
    }

    &__content-container__second-expert-name {
        align-self: center;
    }

    &__content-container__second-expert-avatar {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        

        @media (max-width: 440px) {
            width: 75px;
            height: 75px;
        }
    }

    .work-now {
        display: flex;
        background: rgba(255, 255, 255, 0.15);
        align-self: center;
        padding: 1.4rem 2rem 1.4rem 1.5rem;
        border-radius: 5px;
        gap: 1rem;

        @media (max-width: 1040px) {
            order: -1;
        }

        @media (max-width: 550px) {
            padding: 0.85rem 1.5rem 0.85rem 1rem;
            gap: 0.5rem;
        }
    }

    .work-now__contacts {
        background: rgba(27, 116, 227, 0.1);
    }

    .work-now svg {
        align-self: center;

        @media (max-width: 550px) {
            width: 5px;
            height: 5px;
        }
    }

    .work-now p {
        font: var(--body-XL);
        margin-bottom: 0;

        @media (max-width: 440px) {
            font-size: 1.6rem;
        }
    }

    &__content-container__second-expert-name-title {
        font: var(--body-XX);

        @media (max-width: 440px) {
            font-size: 2.5rem;
        }
    }

    &__content-container__second-expert-name-description {
        font: var(--body-S);
        max-width: 28rem;

        @media (max-width: 440px) {
            font-size: 1.2rem;
        }
    }

    &__content-container__second-mobile a {
        font: var(--title-L);
        font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));

        @media (min-width: 1681px) {
            font-size: 8.5rem;
        }
    }

    &__content-container__second-expert-name {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media (max-width: 540px) {
            flex: 0 0 40%;
        }

        @media (max-width: 440px) {
            flex: 0 0 68%;
        }

        @media (max-width: 367px) {
            flex: 0 0 67%;
        }
    }

    &__content-container__second-expert {
        display: flex;
        gap: 3.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 4.5rem;
        padding-top: 4rem;

        @media (max-width: 1040px) {
            flex-wrap: wrap;
        }

        @media (max-width: 550px) {
            gap: 2rem;
        }

        @media (max-width: 440px) {
            padding-bottom: 2rem;
            padding-top: 2rem;
        }

        @media (max-width: 420px) {
            gap: 2rem;
            padding-bottom: 2.3rem;
        }
    }

    &__content-container__second {
        flex: 0 0 69%;

        @media (max-width: 800px) {
            flex: 0 0 100%;
        }
    }

    &__content-container__second-callback p {
        font: var(--title-S-narrow);
        font-size: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));

        @media (min-width: 1640px) {
            font-size: 40px;
        }
    }

    &__content-container__second-callback {
        padding-top: 4.5rem;

        &.mobile {
            display: none;
        }

        @media (max-width: 1040px) {
            display: none;

            &.mobile {
                display: block;

                button {
                    width: 100%;
                }
                
            }
        }
    }

    &__content-container__second-callback form {
        display: flex;
        gap: 1rem;
        padding-top: 2.5rem;
        align-items: flex-start;

        @media (max-width: 1280px) {
            flex-wrap: wrap;
        }
    }

    &__content-container__second-callback form input {
        border: 1px solid #fff;
        padding: 1.875rem 2.5rem 1.875rem 2.5rem;
        border-radius: 10px;
        color: #ffffff;
        font: var(--body-XL);
        width: 24rem;
        font-size: 2.5rem;
        height: 8rem;
        transition: all 0.5s ease;

        &::placeholder {
            color: #fff;
        }

        @media (max-width: 1280px) {
            width: 100%;
        }
    }

    &__content-container__second-callback__contacts form input {
        border: 1px solid #A3AFCD;
        color: #A3AFCD;
        &::placeholder {
            color: #A3AFCD;
        }
    }


    &__content-container__second-callback form .callback__item:hover label {
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        background-color: #2f83eb;
        padding: 0 3px;
        transform: translateY(0%);
    }

    &__content-container__second-callback__contacts form .callback__item:hover label {

        background-color: #F4F8FE;
    }

    &__item {
        position: relative;

        @media (max-width: 1280px) {
            flex: 0 0 49%;
        }

        @media (max-width: 560px) {
            flex: 0 0 100%;
        }
    }

    &__content-container__second-callback form label {
        font: var(--body-XL);
        color: #ffffff;
        position: absolute;
        left: 2.5rem;
        top: 28px;
        transition: all 0.2s ease;

        @media (max-width: 720px) {
            font-size: 2rem;
            top: 30px;
        }
    }

    &__content-container__second-callback__contacts form label {
        color: #A3AFCD;
    }

    &__content-container__second-callback form a {
        border: 1px solid #fff;
        padding: 2.075rem 2.5rem 1.875rem 2.5rem;
        border-radius: 10px;
        color: #1b74e3;
        font: var(--body-XL);
        width: 24rem;
        font-size: 2.5rem;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1280px) {
            width: 100%;
        }

        @media (max-width: 720px) {
            font-size: 2rem;
        }

        @media (max-width: 560px) {
            width: 100%;
        }
    }

    &__content-container__second-callback__contacts form a {
        border: 1px solid #1b74e3;
        color: #fff;
        background-color: #1b74e3;
        padding: 2.75rem 2.5rem 2.3rem;
        &:hover{
            background-color: var(--accent-primary-hover);
            border: 1px solid var(--accent-primary-hover);
            color: #fff;
        }
    }

    &__content-container__second-callback form a svg {
        fill: none;
    }

    &__content-container__second-expert-name-hid-button {
        display: none;

        @media (max-width: 1040px) {
            display: flex;
            background-color: #ffffff;
            width: 100%;
            font: var(--other-L);
            color: #1b74e3;
            padding: 2.2rem 2.2rem 2.2rem 2.5rem;
            border-radius: 7px;
            flex: 0 0 50%;
            justify-content: space-between;
            align-items: center;
            font-size: 2.5rem;
        }

        @media (max-width: 550px) {
            flex: 0 0 100%;
            padding: 1.8rem 2rem 1.8rem 2.5rem;
        }
        @media (max-width: 500px) {
            font-size: 2rem;
        }
    }

    &__content-container__second-expert-name-hid-button svg {
        fill: none;
    }

    &__content-container__contacts-mobile {
        display: none;

        @media (max-width: 1040px) {
            font-family: 'Montserrat';
            opacity: 1;
            display: block;
            padding-top: 2.5rem;
        }
    }

    &__content-container__contacts-mobile a {
        font: var(--title-S-narrow);
        font-size: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));
    }

    &__content-container__contacts-mobile p {
        padding-top: 2rem;
        opacity: 0.5;
        max-width: 32rem;

        @media (max-width: 440px) {
            font-size: 1.2rem;
        }
    }

    input:required + label {
        transition: all 0.3s ease;
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        background-color: #2f83eb;
        padding: 0 3px;
    }

    input:invalid + label {
        transition: all 0.3s ease;
        font: var(--body-XL);
        color: #fff;
        position: absolute;
        left: 2.5rem;
        top: 28px;
    }

    .expert__agree-text a {
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    .expert__agree-text:hover a {
        border-bottom: none;
    }

    input:required + label {
        transition: all 0.3s ease;
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        background-color: #2f83eb;
        padding: 0 3px;
        left: 2.5rem;
        transform: translateY(0%);
    }

    input:invalid + label {
        transition: all 0.3s ease;
        font: var(--body-XL);
        color: #fff;
        position: absolute;
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &__content-container__second-callback__contacts{
        input:required + label {

            background-color: #F4F8FE;
        }
    
        input:invalid + label {
            color: #A3AFCD;
        }
    
        .expert__agree-text a {
            border-bottom: 1px solid #A3AFCD;
            color: #A3AFCD;
        }
    
        input:required + label {
            background-color: #F4F8FE;
        }
    
        input:invalid + label {
            color: #A3AFCD;
        }
    }

    .expert__agree__contacts{
        color: #A3AFCD;
    }
        

    &__socials{
        display: flex;
        gap: 22px;
        align-items: center;
        margin-top: 14px;
    }

    &__social a:hover svg path{
        fill: var(--accent-primary-hover);

    }
}
