.contact__form {
    padding-top: 13rem;

    .callback__content-container__second {
        flex: auto;
    }

    .callback__content-container__second-mobile {
        gap: 1rem;
        justify-content: space-between;
    }

    @media (max-width: 1023px) {
        padding-top: 8.6rem;
    }
}
.map_contacts {
    background-image: url(../img/map.webp);
    background-size: cover;
}

.contacts {
    padding: 10rem 0;
    margin-bottom: 8rem;
    background: #f8fbff;

    font-family: 'Montserrat', sans-serif;

    @include breakpoint(mobile) {
        padding: 5rem 0;
    }
}

.contacts__row {
    @include grid();

    @include breakpoint(mobile) {
        grid-row-gap: 2rem;
    }
}

.contacts__col {
    @include breakpointMF(small-tablet) {
        &:nth-child(1) {
            grid-column: span 2;
        }

        &:nth-child(2) {
            grid-column: span 14;
        }
    }

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
    }
}

.contacts__large-heading {
    margin-bottom: 5.5rem;

    @include breakpoint(mobile) {
        grid-column: 1 / -1;
        margin-bottom: 3rem;
    }
}

.contacts__small-heading {
    @include breakpoint(mobile) {
        br {
            display: none;
        }
    }
}

.contacts__inner-row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.1fr);
    grid-gap: 3rem;
    grid-column-gap: 9rem;

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
    }
}

.contacts__inner-col {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.contacts__address {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 135%;
    margin-bottom: 3.6rem;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 2rem;
        line-height: 100%;
        margin-bottom: 3rem;
    }
}

.contacts__form {
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 0;
        order: 5;
        margin-bottom: 3rem;
    }
}

.contacts__form-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    margin-bottom: 2.5rem;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
        margin-bottom: 1rem;
    }
}

.contacts__form-row {
    display: flex;
    align-items: flex-start;

    flex-wrap: wrap;

    @include breakpoint(mobile) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}

.contacts__form-input {
    width: 26rem;
    margin-right: 1.5rem;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.contacts__form-submit {
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.contacts__requisites {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 2.4rem;
    row-gap: 2rem;

    @include breakpoint(mobile) {
        gap: 3rem;
        row-gap: 2rem;
        order: 10;
    }
}

.contacts__requisites-item {
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    color: #495f73;
    line-height: 100%;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
    }

    &:first-child {
        width: 100%;
    }
}

.contacts__requisites-download {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
    text-transform: uppercase;
    color: #148eff;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
    }

    &:link,
    &:visited {
        color: #148eff;
    }
    svg {
        flex-shrink: 0;
        width: 1.3rem;
        height: 1.3rem;
        fill: currentColor;
        margin-left: 1rem;
    }

    @include underline();
}

.contacts__map-wrapper {
    position: relative;
    border-radius: 2.5rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    background-color: #fff;
    flex-grow: 1;
    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.contacts__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.contacts__go-to-office {
    border: 0.2rem solid #148eff;
    border-width: 2px;
    border-radius: 2rem;
    border-top-left-radius: 0;
    margin-bottom: 3rem;
    position: relative;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 125%;
    max-width: 42rem;
    width: 100%;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 115%;
        margin-bottom: 3rem;
        padding-top: 1.7rem;
        padding-bottom: 1.7rem;
    }
    &::before {
        content: '';
        position: absolute;
        left: -0.2rem;
        bottom: 100%;
        margin-top: 0rem;
        background-image: url('../img/tail.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
        margin-top: 0rem;

        pointer-events: none;
        user-select: none;
        width: 23px;
        height: 11.3px;
        left: -2px;
        margin-bottom: -0.5px;
        transform: scaleY(-1);
    }
}

.contacts__go-to-office-icon {
    flex-shrink: 0;
    margin-left: 1.5rem;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    margin-right: 1.5rem;

    @include breakpoint(mobile) {
        margin-right: 1rem;
        margin-left: 1rem;
        width: 4.5rem;
        height: 4.5rem;
    }
}

.contacts__specialist {
    margin-bottom: 3rem;
    background: #ffffff;
    box-shadow: 0px 0px 3.5rem rgba(1, 31, 58, 0.05);
    border-radius: 2.5rem;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: auto 1.3fr 1fr;
    grid-gap: 2.4rem;
    width: 100%;

    @include breakpoint(mobile) {
        padding: 1.5rem;
        border-radius: 1.5rem;
        grid-template-columns: auto 1fr;
        grid-gap: 2rem;
        grid-template-areas: 'online online' 'photo name' 'photo text' 'phone phone' 'email email';
        margin-bottom: 3rem;
        align-items: center;
    }
}

.contacts__specialist-col {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: block;
        display: contents;
    }
}

.contacts__specialist-name {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 125%;
        grid-area: name;
    }
}

.contacts__specialist-text {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 100%;
    color: #495f73;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        margin-top: -2rem;
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 115%;
        grid-area: text;
        margin-bottom: 0;
    }
}

.contacts__specialist-link {
    margin-top: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 125%;
    color: #148eff;

    &:link,
    &:visited {
        color: #148eff;
    }

    @include underline();

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 100%;
        justify-self: flex-start;
        &--phone {
            grid-area: phone;
        }

        &--email {
            grid-area: email;
        }
    }
}

.contacts__specialist-online {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    padding: 0.8rem 1rem;
    background: #55be24;
    border-radius: 1rem;
    white-space: nowrap;
    margin-bottom: 2rem;

    &::before {
        content: '';
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        background-color: white;
        border-radius: 50%;
        margin-right: 1rem;
    }

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 100%;
        margin: 0;
        grid-area: online;
        justify-self: flex-start;
    }
}

.contacts__specialist-photo-container {
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    width: 8rem;
    align-self: flex-start;
    &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    @include breakpoint(mobile) {
        width: 7.5rem;
        grid-area: photo;
    }
}

.contacts__specialist-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
