.configure {
    width: 100%;
    padding-bottom: calc(32px + (80 - 32) * (100vw - 360px) / (1680 - 360));

    @media (min-width: 1640px) {
        padding-bottom: 80px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2.5rem;
        padding: calc(25px + (80 - 25) * (100vw - 360px) / (1680 - 360)) calc(15px + (97 - 15) * (100vw - 360px) / (1680 - 360));
        background: linear-gradient(265.25deg, rgba(63, 137, 228, 0.9) 32.92%, rgba(63, 137, 228, 0.81) 70.46%), url('../img/configure-bg.webp');
        background-size: cover;
        border-radius: 1rem;
        color: #fff;
        overflow: hidden;

        @media (min-width: 1640px) {
            padding: 90px 98px;
        }

        @media (max-width: 1327px) {
            padding: 10.5rem 3.7rem 7.7rem;
            @media (max-width: 600px) {
                flex-wrap: wrap;
            }
            @media (max-width: 400px) {
                border-radius: 0.5rem;
                gap: 4rem;
            }
        }

        @media (max-width: 1150px) {
            padding: 4.5rem 3.7rem 4.5rem;
        }

        @media (max-width: 958px) {
            display: flex;
        }

        @media (max-width: 800px) {
            padding: 2.5rem 1.7rem;
        }
    }

    &__graphic-column {
        grid-column: span 8;
    }

    &__title {
        padding: 0.6rem 0 0;
        max-width: 64.1rem;
        margin-bottom: 6rem;
        font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));
        opacity: 0;

        @media (min-width: 1680px) {
            font-size: 8.5rem;
            overflow: visible;
        }
        
        @media (max-width: 958px) {
            margin-bottom: 3rem;
        }
        @media (max-width: 400px) {
            margin-bottom: 1.9rem;
        }
    }

    &__graphic {
        width: 100%;
        aspect-ratio: 2 / 1;
        @media (max-width: 1445px) {
            width: 96%;
        }
    }

    &__text-column {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        @media (max-width: 958px) {
            grid-column: span 7;
        }

        @media (max-width: 600px) {
            width: 100%;
        }
    }

    &__tabs {
        display: flex;
        margin-bottom: 5.5rem;
        @media (max-width: 958px) {
            display: none;
        }
    }

    &__tab-wrapper {
        flex: 1 1 12rem;
    }

    &__tab-wrapper:hover  {
        color: #fff;
        opacity: 1;
    }
    &__tab-wrapper:hover .configure__tab-text  {
        color: #fff;
    }
    &__tab-wrapper:hover .configure__tab-upperline  {
        height: 0.3rem;
        top: 0;
        opacity: 1;
        background-color: #fff;
    }

    &__tab {
        position: relative;

        padding-top: 2.3rem;

        cursor: pointer;
        @media (max-width: 400px) {
            padding-top: 1rem;
        }
    }

    &__tab-upperline {
        position: absolute;
        top: 0.1rem;
        left: 0;

        width: 100%;
        height: 0.1rem;

        background-color: rgba(255, 255, 255, 0.5);

        transition: 0.2s;
    }
    &__tab-upperline-hidden {
        position: absolute;
        top: 0.1rem;
        left: 0;

        width: 100%;
        height: 0.1rem;

        background-color: rgba(255, 255, 255, 0.5);

        transition: 0.2s;
    }

    &__tab.active {
        .configure__tab-upperline {
            top: 0;
            height: 0.3rem;
            background-color: #fff;
        }

        .configure__tab-text {
            color: #fff;
        }
    }

    .configure__tab-upperline.tab-content_show {
        top: 0;

        height: 0.3rem;

        background-color: #fff;
    }
    .configure__tab-upperline-hidden.tab-content_show {
        top: 0;

        height: 0.3rem;

        background-color: #fff;
    }

    &__tab-text {
        font: var(--body-XX);
        color: rgba(255, 255, 255, 0.5);

        transition: 0.2s;
    }
    .configure__tab-text.tab-header_show {
        color: #fff;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        flex-grow: 1;
        display: none;
        min-height: 520px;

        @media (max-width: 1300px) {
            min-height: 540px;
        }

        @media (max-width: 1200px) {
            min-height: 550px;
        }

        @media (max-width: 1025px) {
            min-height: 605px;
        }
        
        @media (max-width: 800px) {
            min-height: 580px;
        }

        @media (max-width: 600px) {
            min-height: 512px;
        }

        @media (max-width: 400px) {
            min-height: 306px;
        }
    }

    &__form.tab-content_show {
        display: flex;
    }

    &__form-fields {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @media (max-width: 400px) {
            gap: 0.5rem;
        }
    }

    &__form-group {
        margin: 0;
        padding: 0;
        border: 1px solid #fff;
        border-radius: 1rem;
        position: relative;
        transition: 0.3s ease-in-out;

        &[data-choise='equipment']:hover {
            background: #2d89fab3;
        }

        @media (max-width: 400px) {
            border-radius: 0.7rem;
        }
    }
    &__form-group.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: 0.3s ease-in-out;
    }

    &__form-group.active &__form-group-body {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s ease-in-out;
    }

    &__form-group-body {
        position: absolute;
        width: calc(100% + 2px);
        left: -1px;
        border: 1px solid #fff;
        max-height: 242px;
        background: #fff;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        opacity: 0;
        pointer-events: none;
        overflow-y: scroll;
        z-index: 10;
        transition: opacity 0.3s ease-in-out;

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
          width: 24px;
          border-radius: 20px;
          opacity: 0.5;
          background-clip: padding-box;
          border: 10px solid transparent;
        }
        
        &::-webkit-scrollbar-thumb {        
            box-shadow: inset 0 0 0 10px var(--main-secondary);
        }

        &.additionalOptions {
            max-height: 152px;
        }

        @media (max-width: 800px) {
            max-height: 210px;

            &.additionalOptions {
                max-height: 105px;
            }
        }

        @media (max-width: 600px) {
            max-height: 200px;

            &.additionalOptions {
                max-height: 120px;
            }
        }
    }

    &__form-group-list {
        padding-top: 25px;
        padding-left: 20px;
        padding-bottom: 25px;

        @media (max-width: 800px) {
            padding-top: 16px;
            padding-left: 14px;
            padding-bottom: 16px;
        }
    }

    &__form-group-item {
        position: relative;
        display: flex;
        margin-top: 22px;

        &:first-child {
            margin-top: 0;
        }

        @media (max-width: 600px) {
            margin-top: 16px;
            align-items: center;
        }
    }

    &__form-checkbox {
        position: relative;
        z-index: 20;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 999;
    }

    &__form-checkboxCustom {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        border: 1px solid var(--accent-primary);
        border-radius: 7px;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        svg {
            width: 11px;
            height: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 600px) {
            width: 16px;
            height: 16px;
            border-radius: 5px;
        }
    }

    &__form-checkbox:checked ~ &__form-checkboxCustom {
        transition: 0.2s ease-in-out;
        background: var(--accent-primary);
    }

    &__form-text {
        cursor: pointer;
        padding-left: 16px;
        font: var(--body-XL);
        color: var(--accent-primary);
        font-size: 20px;
        padding-top: 2px;

        @media (max-width: 800px) {
            padding-left: 10px;
            font-size: 18px;
        }

        @media (max-width: 600px) {
            font-size: 16px;
        }
    }

    &__form-group-header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        padding: 1.8rem 2rem;

        @media (max-width: 400px) {
            padding: 0.6rem 1rem 0.6rem 1.5rem;
        }
    }

    &__form-group-title {
        font: var(--body-XL);
        margin: 0;
        @media (max-width: 500px) {
            font-size: 2rem;
        }
    }

    &__form-group-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.15);

        color: #fff;

        svg {
            pointer-events: none;
            width: 2rem;
            height: 2rem;
            transition: transform 0.2s ease-in-out;
        }
    }

    &__form-group.active &__form-group-button {
        svg {
            transform: rotate(45deg);
            transition: transform 0.2s ease-in-out;
        }
    }

    &__form-group.active {
        background: var(--accent-primary);
        label {
            pointer-events: all;
        }

        &:hover {
            background: var(--accent-primary);
        }
    }

    &__form-group-chosen {
        position: relative;

        .configure__form-group-title {
            position: absolute;
            left: 1.8rem;
            bottom: calc(100% - 1rem);
            padding: 0 0.3rem;
            background-color: #5394e3;

            font: var(--other-M);
        }
    }
    
    &__chosen-equipment-wrapper {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
    }

    &__chosen-equipment-wrapper.active {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        pointer-events: all;
    }

    &__chosen-equipments {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        padding: 1.5rem;
        margin-bottom: 0;
        
        &.hide {
            display: none;
        }

        @media (max-width: 400px) {
            padding: 0.5rem;
        }
    }

    &__chosen-equipmentsAll {
        max-height: 125px;
        display: none;
        overflow-y: scroll;
        flex-wrap: wrap;
        gap: 0.8rem;
        padding: 1.5rem;
        margin-bottom: 0;

        &.active {
            display: flex;
        }

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
          width: 24px;
          border-radius: 20px;
          opacity: 0.5;
          background-clip: padding-box;
          border: 10px solid transparent;
        }
        
        &::-webkit-scrollbar-thumb {        
            box-shadow: inset 0 0 0 10px #fff;
        }
    }

    &__chosen-equipment {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        padding: 0.75rem 0.5rem 0.75rem 1.5rem;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 0.5rem;
    }

    &__chosen-equipment-text {
        font: var(--body-S-bold);
        @media (max-width: 400px) {
            font-size: 1.2rem;
        }
    }

    &__chosen-equipment-delete {
        color: rgba(255, 255, 255, 0.3);

        svg {
            transform: rotate(45deg);

            width: 2rem;
            height: 2rem;
        }
    }

    &__chosenequipment-more {
        padding: 1.05rem 1.5rem;

        background-color: #fff;
        border-radius: 0.5rem;

        font: var(--body-S-bold);
        color: var(--accent-primary);
    }

    .configure__chosen-equipment-more {
        font: var(--body-S-bold);

        @media (max-width: 400px) {
            font-size: 1.2rem;
        }
    }

    &__form-price-block {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;

        @media (max-width: 800px) {
            margin-top: 30px;
        }
        
        @media (max-width: 800px) {
            margin-top: 30px;
        }

        @media (max-width: 499px) {
            margin-top: 12px;
        }
    }

    &__form-price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__form-price-description {
        flex: 1;
        max-width: 18rem;

        font: var(--body-S);

        opacity: 0.4;
        @media (max-width: 400px) {
            font-size: 1.2rem;
        }
    }

    &__form-price {
        font: var(--title-S-narrow);
        padding-right: 9px;
        @media (max-width: 1150px) {
            font-size: 3rem;
        }
        @media (max-width: 400px) {
            font-size: 2.5rem;
        }
    }

    &__form-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 2.5rem 2rem;

        a:hover {
            color: inherit;
        }
        @media (max-width: 500px) {
            font-size: 2rem;
            padding: 1rem 2.5rem;
        }

        svg {
            width: 4rem;
            height: 4rem;
            @media (max-width: 400px) {
                width: 3rem;
            }
        }
    }

    &__graphic {
        opacity: 0;
    }

    &__graphic.tab-content_show {
        display: block;
        transition: opacity .3s ease-in-out;
        opacity: 1;
    }

    .configCar {
        position: relative;
        top: -15%;
        pointer-events: none;

        @media (max-width: 1500px) {
            top: -15%; 
        }

        @media (max-width: 1100px) {
            top: -10%;
        }

        @media (max-width: 958px) {
            top: 0;
        }

        @media (max-width: 600px) {
            top: -13%;
        }

        @media (max-width: 500px) {
            top: -10%;
        }

        & svg[data-car="uaz"] {
            width: 115%;
            left: -10%;

            @media (max-width: 1500px) {
                width: 115%;
                left: -8%;
            }

            @media (max-width: 1100px) {
                width: 110%;
                left: -4%;
            }

            @media (max-width: 958px) {
                width: 115%;
                left: -10%;
            }

            @media (max-width: 800px) {
                width: 112%;
                left: -1%;
            }

            @media (max-width: 600px) {
                width: 110%;
                left: -6%;
            }
        }

        & svg[data-car="isuzu"] {
            width: 112%;
            left: -9%;       

            @media (max-width: 1500px) {
                width: 115%;
                left: -13%;
            }

            @media (max-width: 958px) {
                width: 115%;
                left: -8%;
            }

            @media (max-width: 800px) {
                width: 105%;
                left: -1%;
            }

            @media (max-width: 600px) {
                width: 110%;
                left: -7%;
            }
        }



        .configure__graphic {
            position: absolute;
        }

        @media (max-width: 600px) {
            min-height: 200px;
        }

        @media (max-width: 415px) {
            min-height: 160px;
        }
        @media (max-width: 376px) {
            min-height: 120px;
        }
    }
}
.kisuzuCar .show , .tuazCar .show {
    opacity: 1;
}

.kisuzuCar .khide, .tuazCar .thide {
    opacity: 0 ;
}

@keyframes hideConstrurt {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes showConstrurt {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.configure__tabs-hidden {
    display: none;
    @media (max-width: 958px) {
        display: flex;
        padding-bottom: 2rem;
    }

    .configure__tab-text-hidden {
        font: var(--body-XX);
        color: rgba(255, 255, 255, 0.5);
        transition: 0.2s;
        @media (max-width: 400px) {
            font-size: 2rem;
        }
    }

    .configure__tab-text-hidden.tab-header_show {
        color: rgba(255, 255, 255, 1);
    }
}

.configure__chosen-equipments li:last-of-type {
    background-color: #fff;
    border-radius: 0.5rem;
    color: #1b74e3;
    padding: 0.8rem 1.5rem;
    display: flex;

    .configure__chosen-equipment-more {
        display: initial;
    }
}
