.configure-poster {
    padding-bottom: calc(53px + (100 - 53) * (100vw - 360px) / (1680 - 360));

    @media (min-width: 1640px) {
        padding-bottom: 80px;
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem 2rem;
        padding: 8rem 9.7rem 7.7rem;
        background-color: var(--main-tertiary);
        border-radius: 1rem;

        @media (max-width: 1300px) {
            padding: 5rem 7rem 4.5rem;
        }

        @media (max-width: 1140px) {
            align-items: flex-start;
            flex-direction: column;
        }

        @media (max-width: 880px) {
            padding: 2.5rem 2rem 3em;
        }

        @media (max-width: 320px) {
            padding: 1.5rem;
        }
    }

    &__text {
        max-width: 33.7rem;

        @media (max-width: 1140px) {
            max-width: 60rem;
        }

        h3 {
            font: var(--title-M);
            @media (min-width: 1681px) {
                font-size: 5.5rem;
            }

            @media (max-width: 770px) {
                font-size: 4rem;
            }

            @media (max-width: 570px) {
                font-size: 3rem;
            }

            span {
                opacity: 0;

                &:last-child {
                    color: var(--accent-primary);
                }
            }

        }
    }

    &__img {
        img {
            min-height: 5rem;
            mix-blend-mode: multiply;
        }
    }
}
