.features {
    display: flex;
    width: 100%;
    padding: calc(32px + (80 - 32) * (100vw - 360px) / (1680 - 360)) 0;

    @media (min-width: 1640px) {
        padding: 120px 0; 
    }
    
    @media (max-width: 580px) {
        padding-bottom: 6.5rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 3rem 2.5rem;
        align-items: center;
        height: 100%;

        @media (max-width: 1065px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 6rem;
        }
        @media (max-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

    &__list {
        grid-column: span 8;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 7.5rem 2.5rem;

        @media (max-width: 580px) {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }

    &__item-wrapper {
        grid-column: span 4;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;

        @media (max-width: 580px) {
            flex-direction: row;
            gap: 2.5rem;
        }

        @media (max-width: 350px) {
            gap: 1.5rem;
        }
    }

    &__item-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 9rem;
        height: 9rem;
        margin-bottom: 3rem;

        background-color: var(--main-tertiary);
        border-radius: 50%;

        @media (max-width: 580px) {
            width: 6rem;
            height: 6rem;
            margin-bottom: 0;
        }

        svg {
            width: 6rem;
            height: 6rem;

            @media (max-width: 580px) {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__item-title {
        margin-bottom: 2rem;

        font: var(--title-S);
        text-transform: uppercase;

        transition: 0.3s;

        @media (max-width: 1190px) {
            font-size: 3.5rem;
        }

        @media (max-width: 670px) {
            font-size: 3rem;
        }

        @media (max-width: 580px) {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }

        &:hover {
            color: var(--accent-primary);
        }
    }

    &__item-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        max-width: 32rem;
        margin-top: auto;

        p {
            font: var(--body-L-narrow);

            @media (max-width: 670px) {
                font-size: 1.6rem;
            }
        }
    }

    &__img-slider {
        grid-column: span 4;
        position: relative;
        max-height: 600px;
        height: 100%;

        @media (max-width: 1024px) {
            display: none;
        }

        .features__img-slide {
            min-width: 36.7rem;
            border-radius: 1rem;
            overflow: hidden;
            // position: relative;

            @media (max-width: 1065px) {
                width: 100%;
                min-width: auto;
                aspect-ratio: 1 / 1;
            }
        }
        .features__img-slide {
            position: absolute;
            right: -4rem;
            bottom: -3rem;
            opacity: 0.5;
            transition: all 0.5s ease-in-out;
            z-index: -1;
            @media (max-width: 533px) {
                right: -1rem;
                bottom: -2rem;
            }
        }

        .features__img-slide.now {
            z-index: 10;
            opacity: 1;
            right: 0rem;
            bottom: 0rem;
        }
    }

    .fraturesswiper {
        display: none;
        @media (max-width: 1024px) {
            display: block;
            order: -1;
            width: 70rem;
            min-height: 551px;
        }
    }

    .swiper {
        padding-bottom: 5rem;
        margin: 0 auto;
        padding-right: 2rem;
    }

    &__img-slide-hidden {
        border-radius: 1rem;
    }

    .swiper .swiper-slide,
    .fraturesswiper .swiper-slide-prev {
        opacity: 0;
    }

    .fraturesswiper .swiper-slide-active,
    .fraturesswiper .swiper-slide-next {
        opacity: 1;
    }

    .fraturesswiper .swiper-slide-next {
        padding-top: 4rem;
    }
}
