.footer {
    margin: 0rem auto 3.125rem auto;
    width: 100%;
    @media (max-width: 1023px) {
        max-width: unset;
        margin: 3rem 0 3rem 0;
    }
    @media (max-width: 533px) {
        max-width: unset;
        margin: 1.87rem 0 0;
        .container {
            padding: 0;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        @media (max-width: 533px) {
            row-gap: 0.67rem;
        }
    }
}

.footer__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 767px) {
        gap: 1.87rem;
    }
    @media (max-width: 533px) {
        flex-direction: column;
        align-items: center;
    }

    &-info {
        opacity: 0.6;
        font-size: 1.4rem;
        line-height: 1.25;
        font-weight: 500;
        @media (max-width: 1023px) {
            font-size: 1.2rem;
        }
        @media (max-width: 533px) {
            order: 1;
            text-align: center;
        }

        span {
            display: block;
        }
    }
    &-main {
        display: flex;
        font-family: 'BebasNeue', sans-serif;
        font-weight: 700;
        font-size: 3rem;
        justify-content: flex-start;
        column-gap: 3.1rem;
        width: 36%;
        @media (max-width: 1023px) {
            flex-direction: column;
            // row-gap: 0.5rem;
            width: auto;
        }
        @media (max-width: 533px) {
            flex-direction: row;
        }
        @media (max-width: 374px) {
            display: none;
        }
        li a {
            color: var(--accent-primary);
            font-size: calc(18px + (30 - 18) * (100vw - 360px) / (1920 - 535));
            line-height: 1.1;

            @media (min-width: 1640px) {
                font-size: 30px
            }
        }
        li:hover a {
            color: var(--accent-primary-hover);
        }
    }
    &-contacts {
        display: flex;
        align-items: flex-start;
        column-gap: 10px;
        @media (max-width: 533px) {
            order: -1;
        }
        svg {
            opacity: 0.6;
            transition: all 0.3s ease-in-out;
        }
        :hover svg {
            opacity: 1;
        }
    }
}

.footer__addition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 533px) {
        flex-direction: column;
        gap: 1.87rem;
    }
    &-download:hover {
        color: var(--accent-primary-hover);
    }
    &-download {
        display: flex;
        align-items: center;
        color: var(--accent-primary);
        column-gap: 5px;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
    }
    &-icon {
    }
    &-developed {
        display: flex;
        column-gap: 0.93rem;
        color: var(--accent-primary);
        cursor: pointer;
        @media (max-width: 533px) {
            padding: 0.7rem 0;
            background: #f0f4fe;
            width: 100%;
            justify-content: center;
        }
        span {
            opacity: 0.3;
            font-weight: 500;
        }
        span::selection {
            color: #1b74e3;
        }
    }
    .footer__addition-developed:hover span {
        opacity: 1;
        color: var(--accent-primary);
    }
}
