.gallery {
    padding: calc(32px + (80 - 32) * (100vw - 360px) / (1680 - 360)) 0;

    @media (min-width: 1640px) {
        padding: 80px 0;
    }
}

.gallery__wrapper {
    h2 {
        opacity: 0;
        margin-bottom: calc(25px + (43 - 25) * (100vw - 360px) / (1680 - 360));
        font: var(--title-L);
        font-size: var(--calc--title-L);
        padding-left: 9.8rem;
        @media (max-width: 1023px) {
            padding-left: 0;
        }
    }
    &-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;

        @media (max-width: 1023px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 533px) {
            display: none;
        }
    }
    &-item {
        border-radius: 10px;
        height: 226px;
        transition: all 0.5s linear;
        background-color: transparent;
        overflow: hidden;

        img {
            
            transition: transform 0.3s;
        }

        @media (max-width: 533px) {
            padding: 0 20px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-item:hover img {

        transform: scale(1.05);
     
    }

    &-item--one {
        grid-column: span 3;
        height: unset;
        position: relative;
        ::before {
            position: absolute;
            content: '';
            background-image: url(../images/play.webp);
            background-repeat: no-repeat;
            width: 75px;
            height: 75px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-size: cover;
        }
        @media (max-width: 533px) {
            height: 225px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-item--two {
        grid-column: span 2;
        height: unset;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width: 1023px) {
            grid-column: span 1;
            height: 225px;
        }
    }

    &-item--link {
        position: relative;
        img {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
        p {
            font-family: 'BebasNeue', sans-serif;
            font-size: calc(18px + (30 - 18) * (100vw - 360px) / (1680 - 360));
            width: 50%;
            padding-bottom: 10px;

            @media (min-width: 1640px) {
                font-size: 30px;
            }

            @media (max-width: 1179px) {
                width: unset;
            }
        }
        span {
            font-family: 'Montserrat', sans-serif;
            display: block;
        }
    }
    &-item-text {
        color: #fff;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding: 1.25rem 1.25rem;
        height: 100%;
        -webkit-text-fill-color: #fff;
    }
}

.mySwiper {
    height: 200px;
    overflow: visible;
    .swiper-slide-shadow {
        background-color: transparent;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-slide {
        opacity: 0;
        max-width: 96%;
    max-height: 195px;
    overflow: hidden;
    border-radius: 10px;
    }
    .swiper-slide-next {
        opacity: 0.5;
        margin-bottom: -3rem;
        @media (max-width: 376px) {
            margin-bottom: 0;
        }
    }
    .swiper-slide-prev {
        opacity: 0;
    }

    .swiper-slide-active {
        opacity: 1;
    }
    .swiper-slide {
         width: 90% !important;
        @media (max-width: 499px) {
            width: 100% !important;
        }
    }
    .swiper-wrapper {
        margin-left: -14% !important;
        @media (max-width: 500px) {
            width: 100%;
            margin: 0 auto;
            margin-left: 0!important;
        }
    }
}
.swiper__nav {
    position: relative;
    padding-bottom: 4rem;
    .swiper-pagination {
        bottom: 0;
    }
    .gallery__wrapper-item--mobile-one {
        position: relative;
        ::before {
            position: absolute;
            content: '';
            background-image: url(../images/play.webp);
            background-repeat: no-repeat;
            width: 55px;
            height: 55px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-size: cover;
        }
    }
}
.gallery__wrapper-items--mobile-btn {
    border: 1px solid var(--accent-primary);
    width: 100%;
    text-align: center;
    display: none;
    margin-top: 2rem;
    -webkit-text-fill-color: var(--accent-primary);

    @media (max-width: 533px) {
        display: block;
    }
    @media (max-width: 500px) {
        font-size: 2rem;
    }
}
.gallery__wrapper-items--mobile {
    display: none;
    @media (max-width: 533px) {
        display: block;
    }
}

.swiper-pagination-bullet {
    background: #a3afcd;
    opacity: 0.5;
    border-radius: 10px;
}
.swiper-pagination-bullet-active {
    background: #1b74e3;
    border-radius: 10px;
    width: 30px;
    opacity: 1 !important;
}

.gallery__wrapper-item {
    cursor: pointer;
}