.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 2rem 0;
    transition: 0.3s;
    opacity: 0;

    &.active {
        opacity: 1;
    }

    @media (max-width: 1439px) {
        padding: 1.7rem 0;
    }

    @media (max-width: 1145px) {
        // padding: 2rem 0;
    }

    @media (max-width: 690px) {
        // padding: 1.6rem 0;
    }

    &:not(.twink) {
        .header__menu li:first-child {
            margin-right: 2rem;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        z-index: 150;
        color: #fff;
    }

    &__burger {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-right: auto;
        margin-left: 6.4rem;

        font: var(--body-S-bold);
        color: #fff;

        transition: 0.3s;

        @media (max-width: 550px) {
            font: var(--other-S-bold);
            margin-left: 4rem;
        }

        @media (max-width: 490px) {
            span {
                display: none;
            }
        }

        @media (max-width: 359px) {
            margin-left: 2rem;
        }

        svg {
            width: 2.5rem;
            height: 1.2rem;
        }
    }

    &__nav {
        margin-right: 5rem;

        @media (max-width: 1240px) {
            display: none;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        color: #fff;
        font-size: 1.4rem;
        :hover {
            color: #196BD1;
        }
    }

    &__menu-item {
        font: var(--body-S);
        color: #fff;
        transition: 0.3s;

        &:hover {
            color: var(--accent-primary);
        }
    }

    &__button {
        @media (max-width: 550px) {
            padding: 1rem 2.5rem;

            font: var(--other-S-bold);
        }
    }

    &--white {
        background-color: #fff;
        
        .header__menu li {
            color: var(--main-primary);
        }

        .header__logo {
            color: var(--accent-primary);
        }

        .header__burger {
            color: var(--main-primary);
        }

        .header__menu-item {
            color: var(--main-primary);

            &:hover {
                color: var(--accent-primary);
            }
        }

        .header__button {
            background-color: var(--accent-primary);
        }
    }
}
@media (max-width: 533px) {
    .wide-container {
        padding: 0 1rem;
    }
}
