.intro-slider {
  user-select: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
  }

  &__slide {
    padding-top: 2.3rem;
    
    @media (max-width: 500px) {
      padding-top: 1.3rem;
    }

    p {
      max-width: 21.5rem;

      font: var(--body-XX);
      color: rgba(255, 255, 255, .7);
      text-transform: uppercase;

      transition: 0.3s;

      @media (max-width: 980px) {
        max-width: none;
      }

      @media (max-width: 500px) {
        font: var(--other-M);
      }
    }
  }

  .swiper-slide-active {
    p {
      color: #fff;
    }
  }

  &__progressbar {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;

    height: 1px;
    background-color: rgba(255, 255, 255, .5);
  }

  &__progressbar-progress {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    height: calc(100% + 2px);

    background-color: #fff;
  }
}