.map {
    position: relative;
    padding-bottom: calc(30px + (80 - 30) * (100vw - 360px) / (1680 - 360));

    @media (min-width: 1640px) {
        padding-bottom: 80px;
    }

    &__wrapper {
        background-image: url(../img/map.webp);
        border-radius: 10px;
        padding: 16.3rem 0 14rem 9.8rem;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 1150px) {
            padding: 4.5rem 0 14rem 4rem;
            background-position: 0 95%;
            background-size: 114%;
        }

        @media (max-width: 1000px) {
            background-size: 125%;
        }
        @media (max-width: 950px) {
            background-size: 150%;
        }
        @media (max-width: 800px) {
            background-size: 175%;
        }
        @media (max-width: 650px) {
            padding: 2.5rem 2rem 18.9rem 2rem;
            background-position: 14% 111%;
            background-size: 221%;
        }

        @media (max-width: 550px) {
            background-size: 260%;
        }

        @media (max-width: 560px) {
            background-size: 304%;
        }

        @media (max-width: 450px) {
            background-size: 304%;
        }

        @media (max-width: 400px) {
            background-size: 363%;
        }

        @media (max-width: 350px) {
            background-size: 400%;
        }
    }

    &__wrapper h2 {
        font: var(--title-M);
        color: #1b74e3;

        @media (max-width: 1200px) {
            font-size: 4rem;
        }
        @media (max-width: 550px) {
            font-size: 3rem;
        }
    }
}
