.order {
    padding: calc(32px + (80 - 32) * (100vw - 360px) / (1680 - 360)) 0;

    @media (min-width: 1641px) {
        padding: 80px 0;
    }
    
}
.wide-container {
}
.order__inner {
    background-image: url(../img/block_911.webp);
    padding: calc(25px + (90 - 25) * (100vw - 360px) / (1680 - 360)) calc(20px + (98 - 20) * (100vw - 360px) / (1680 - 360));
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 1640px) {
        padding: 90px 98px;
    }
     @media (max-width: 500px) {
            border-radius: 5px;
        }
    p {
        font: var(--body-XL);
        font-family: var(--main-ff);
        padding-top: calc(20px + (75 - 20) * (100vw - 360px) / (1680 - 360));
        @media (min-width: 1640px) {
            padding-top: 85px;
        }
        @media (max-width: 767px) {
            // flex-direction: column-reverse;
            width: 73%;
            margin-left: auto;
            padding-top: 0;
        }
        @media (max-width: 500px) {
            font-size: 2rem;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: calc(25px + (100 - 25) * (100vw - 360px) / (1680 - 360));
        align-items: flex-end;

        @media (min-width: 1640px) {
            gap: 100px;
        }

        h2 {
            opacity: 0;
            font: var(--title-L);
            font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));
        }
    }

    &-main {
        display: flex;
        justify-content: space-between;
        gap: calc(50px + (142 - 50) * (100vw - 360px) / (1680 - 360));

        @media (min-width: 1640px) {
            gap: 160px;
        }

        @media (max-width: 1280px) {
            gap: 4rem;
        }
        @media (max-width: 1179px) {
            flex-direction: column-reverse;
        }
        @media (max-width: 500px) {
            gap: 2.4rem;
        }
    }
    &-main-inner {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media (max-width: 500px) {
            gap: 2rem;
        }
    }
    &-main-left {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex: 0 0 23.5%;
        width: 23.5%;
        p {
            font: var(--body-XX);
            color: #fff;
            padding-top: 0;
        }
        @media (max-width: 1179px) {
            width: 40%;
        }
        @media (max-width: 767px) {
            width: 100%;
            p {
                display: none;
            }
        }
    }
    &-main-text {
        color: #ffffff;
        opacity: 0.6;
        font: var(--body-S);
    }
    &-main-btn {
        background-color: #fff;
        color: var(--accent-primary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font: var(--body-XL);
        text-transform: uppercase;
        padding: 2rem 2.5rem;
        border-radius: 10px;
        position: relative;

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
        }
        @media (max-width: 500px) {
            padding: 1rem 2.5rem;
            }
    }
    &-main-icon {
        svg path {
            fill: #fff;
        }
    }
    &-main-items {
        color: #fff;
        text-transform: uppercase;
        display: flex;
        // flex-wrap: wrap;
        gap: 1rem;
        @media (max-width: 1179px) {
            width: 100%;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
    &-main-item {
        padding: 2rem;
        background-color: rgba($color: #fff, $alpha: 0.15);
        border-radius: 10px;
        max-width: 33rem;
        // max-width: 32%;
        
        width: 100%;
        position: relative;
        @media (max-width: 767px) {
            width: 100%;
            max-width: unset;
        }
        @media (max-width: 500px) {
            padding: 1.5rem;
        }

        span {
            color: #ffffff;
            opacity: 0.2;
            font: var(--title-L);
            @media (max-width: 535px) {
                display: none;
            }
        }
    }

    &-main-item:nth-child(1)::before,
    &-main-item:nth-child(2)::before,
    &-main-item:nth-child(3)::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        top: 20%;
        transform: translate(-50%, -50%);
        left: 61%;
        max-width: 14vw;
        width: 100%;
        height: 14vw;
        background-size: contain;
        z-index: 2;

        @media (min-width: 1640px) {
            height: 250px;
        }
    }

    &-main-item:nth-child(1)::before {
        background-image: url(../img/11.webp);
    }
    &-main-item:nth-child(2)::before {
        background-image: url(../img/22.webp);
    }
    &-main-item:nth-child(3)::before {
        background-image: url(../img/33.webp);
    }
    @media (max-width: 767px) {
        .order__inner-main-item:nth-child(1)::before {
            content: '';
            top: 50%;
            transform: translate(-50%, -50%);
            left: 14%;
            max-width: unset;
            width: 80px;
            height: 80px;
            background-size: contain;
        }
        .order__inner-main-item:nth-child(2)::before {
            content: '';

            top: 50%;
            transform: translate(-50%, -50%);
            left: 14%;
            max-width: unset;
            height: 80px;
            width: 80px;
            background-size: contain;
        }
        .order__inner-main-item:nth-child(3)::before {
            content: '';

            top: 50%;
            transform: translate(-50%, -50%);
            left: 14%;
            max-width: 14vw;
            width: 80px;
            max-width: unset;
            height: 80px;
        }
    }
    @media (max-width: 500px) {
        .order__inner-main-item:nth-child(1)::before {
            content: '';
            top: 38%;
           
        }
        .order__inner-main-item:nth-child(2)::before {
            content: '';

            top: 38%;
           
        }
        .order__inner-main-item:nth-child(3)::before {
            content: '';

            top: 38%;
           
        }
    }

    button {
        padding-top: 2.3rem;
        @media (max-width: 500px) {
            padding-top: 1.2rem;
            font-size: 2rem;
            }
    }
    .order__hidden-text {
        display: none;
        @media (max-width: 767px) {
           display: block;
           order: 100;
            font: var(--body-XX);
            color: #fff;
            padding-top: 0;
            }
            p {
                margin: 0;
            }
    }

    .order__inner-main-text {
        @media (max-width: 500px) {
           font-size: 1.2rem;
            }
    }
}
