.plant {
    padding-top: calc(32px + (80 - 32) * (100vw - 360px) / (1680 - 360));
    padding-bottom: calc(65px + (80 - 65) * (100vw - 360px) / (1680 - 360));

    @media (min-width: 1640px) {
        padding-top: 120px;
        padding-bottom: 80px;
    }
}

.plant__wrapper {
    .wide-container {
    }
    @media (max-width: 533px) {
        & {
            overflow: hidden;
        }
    }
}
.plant__title {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-left: 10rem;
    -webkit-text-fill-color: var(--main-primary);

    @media (max-width: 1279px) {
        & {
            width: 100%;
            margin-left: 0;
        }
    }
    @media (max-width: 533px) {
        & {
            flex-direction: column;
        }
    }
    h2 {
        opacity: 0;
        font: var(--title-L);
        font-size: var(--calc--title-L);
        width: 69%;
        margin-top: 5rem;
        margin-bottom: calc(25px + (60 - 25) * (100vw - 360px) / (1680 - 360));
        @media (max-width: 1180px) {
            & {
                margin-top: 0;
            }
        }
        @media (max-width: 533px) {
            & {
                width: 100%;
            }
        }
    }
    &_inner {
        @media (max-width: 1023px) {
            img {
                max-width: 60%;
            }
        }
        @media (max-width: 533px) {
            align-items: center;
            gap: 2rem;
            img {
                width: 60px;
                height: 60px;
            }
        }
        strong {
            font: var(--body-XX);
            font-size: calc(20px + (30 - 20) * (100vw - 360px) / (1680 - 360));
            color: var(--accent-primary);
            margin-bottom: 3rem;
            display: block;

            @media (max-width: 533px) {
                & {
                    order: 1;
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 533px) {
            & {
                display: flex;
                width: 100%;
                align-items: center;
            }
        }
    }
}

.plant__inner {
    display: flex;
    gap: 8.5rem;
    width: 87%;
    min-width: 0 !important;

    @media (max-width: 1279px) {
        & {
            gap: 2.5rem;
        }
    }
    @media (max-width: 1023px) {
        & {
            flex-direction: column;
            gap: 5.5rem;
            width: 100%;
        }
    }
    @media (max-width: 533px) {
        & {
            gap: 3rem;
            // overflow: hidden;
        }
    }

    p {
        font: var(--body-L-narrow);
    }
    &_slider {
        position: relative;
        margin-left: -7rem;
        @media (max-width: 1023px) {
            & {
                padding-bottom: 3rem;
            }
        }
        .swiper-pagination {
            width: 100%;
            bottom: 0;
            display: none;
            @media (max-width: 1023px) {
                & {
                    display: block;
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: transparent;
            border-radius: 50%;
            width: 3.3vw;
            height: 3.3vw;
            border: 2px solid #ffffff;
            bottom: 3rem;
            top: unset;

            @media (min-width: 1640px) {
                width: 55px;
                height: 55px;
            }

            @media (max-width: 1023px) {
                & {
                    display: none;
                }
            }
        }

        .swiper-button-prev {
            left: 21%;
        }
        .swiper-button-next {
            left: 27%;
        }

        .swiper-button-prev::after,
        .swiper-button-next::after {
            color: #fff;
            font-size: 16px;
            @media (max-width: 1180px) {
                & {
                    font-size: 12px;
                }
            }
        }

        .swiper-slide .swiper-button-prev,
        .swiper-slide .swiper-button-next {
            display: none;
        }
        .swiper-slide-active .swiper-button-prev,
        .swiper-slide-active .swiper-button-next {
            display: block;
            @media (max-width: 1023px) {
                & {
                    display: none;
                }
            }
        }
        .swiper-slide.video {
            position: relative;
            display: block;
        }

        img {
            border-radius: 10px;
            width: 100%;
            max-width: unset;
            position: relative;

            @media (max-width: 1023px) {
                width: 95%;
            }
        }
        .video__icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            font-family: var(--main-ff);
            font-size: calc(20px + (30 - 20) * (100vw - 360px) / (1680 - 360));
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            gap: 2rem;
            align-items: center;
            width: 21.5rem;
            @media (max-width: 1179px) {
                svg {
                    width: 55px;
                    height: 55px;
                }
            }
            @media (max-width: 767px) {
                & {
                    font-size: 0;
                    width: unset;
                }
            }
        }
        @media (max-width: 1600px) {
            & {
                margin-left: -2rem;
            }
        }
        @media (max-width: 1023px) {
            & {
                margin-left: 0;
            }
        }
    }
    &_slider-main {
        width: 82%;
        @media (max-width: 1279px) {
            width: 66vw;
        }
        @media (max-width: 1023px) {
            & {
                width: unset;
            }
        }
        @media (max-width: 533px) {
            & {
                gap: 3rem;
            }
            .swiper {
                margin-left: 0%;
                width: 100% !important;
            }
            .swiper-slide {
                opacity: 0;
            }
            .swiper-slide-active {
                opacity: 1;
            }
            .swiper-slide-next {
                opacity: 0.5;
                padding-top: 3rem;
            }
        }
        p {
            width: 49%;
            margin-left: auto;
            margin-bottom: calc(25px + (78 - 25) * (100vw - 360px) / (1680 - 360));
            @media (max-width: 1023px) {
                width: 100%;
                margin-top: 2.5rem;
            }
            @media (max-width: 533px) {
                & {
                    width: 100%;
                }
            }
        }
    }
    &_slider-thanks {
        flex: 0 0 19%;

        .swiper {
            overflow: visible;
            max-width: 210px;
            margin: 0;
            
            .swiper-slide {
                opacity: 0;
            }
            .swiper-slide-active {
                opacity: 1;
            }
            .swiper-slide-next {
                opacity: 0.6;

                @media (min-width: 1024px) {
                    transform: translate3d(-119px, 30px, -200px) rotateX(0deg) rotateY(-2deg) scale(1) !important;
                }
            }
            .swiper-button-next,
            .swiper-button-prev {
                border-radius: 50%;
                width: 2.3vw;
                height: 2.3vw;
                font-weight: 400;
                padding: 0;
                margin-top: 0;
                top: 0;

                @media (min-width: 1640px) {
                    width: 40px;
                    height: 40px;
                }
            }
            .swiper__nav {
                position: absolute;
                top: 18px;
                right: -23px;
                width: 5.6vw;

                @media (min-width: 1640px) {
                    top: 10px;
                    right: -50px;
                    width: 100px;
                }
            }

            .swiper-button-prev {
                background-color: var(--main-tertiary);
                transition: all 0.5s linear;
                // right: 23%;
                left: unset;
            }
            .swiper-button-next::after {
                color: #fff;
                font-size: 12px;
                transition: all 0.5s linear;
            }
            .swiper-button-prev::after {
                font-size: 12px;
                color: var(--accent-primary);
                transition: all 0.5s linear;
            }
            .swiper-button-next {
                transition: all 0.5s linear;
                background-color: var(--accent-primary);
            }
            .swiper-button-next:hover {
                background-color: var(--accent-primary-hover);
            }
            .swiper-button-prev:hover {
                background-color: #E4ECFF;
            }

            @media (max-width: 1023px) {
                max-width: inherit;

                .swiper-slide {
                    opacity: 1;
                }
                .swiper__nav {
                    display: none;
                }
            }
        }
        button {
            // padding: 2rem 2.5rem;
            gap: 3.6rem;
            width: 100%;
            margin-top: 7rem;
            white-space: nowrap;
            padding-top: 2.8rem;

            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 3.6rem;
                margin: -2.5rem;
                padding: 2.5rem;
            }

            svg {
                fill: transparent;
            }
            font: var(--body-XL);
            color: #fff;
            @media (max-width: 1023px) {
                & {
                    width: 50%;
                }
            }
            @media (max-width: 500px) {
                & {
                    width: 100%;
                    padding: 1rem 2.5rem;
                    font-size: 2rem;
                }
            }
        }
    }
    &_slider-thanks-text {
        strong {
            font: var(--title-M);
            color: var(--accent-primary);
            font-size: calc(30px + (55 - 30) * (100vw - 360px) / (1680 - 360));
        }
        p:not(:last-child) {
            margin-bottom: 4rem;
        }
        .swiper-wrapper {
            margin-left: -19%;
            @media (max-width: 1023px) {
                & {
                    margin-left: 0;
                }
            }
        }
    }
    .plant__inner_info {
        margin-bottom: 4rem;
    }
    .plant__inner_info-cont {
        @media (max-width: 1023px) {
            & {
                display: flex;
                justify-content: space-between;
                gap: 0.5rem;
            }
        }
    }
    .video__icon svg:hover circle {
        fill: #196bd1;
    }
}
