// .fancybox__backdrop {
//     background-color: rgba(15, 25, 38, 0.85) !important;
// }

// .fancybox__container {
//     background-color: #333b46 !important;
// }

// .fancybox__track .fancybox__slide.has-video {
//     cursor: default !important;
// }

// .fancybox__carousel.is-draggable .fancybox__slide,
// .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
//     cursor: default;
// }

.modal .form {
    cursor: default;
    @media (max-width: 768px) {
        width: 80%;
    }
}
.modal form {
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
.modal .expert__item {
    @media (max-width: 768px) {
        width: 50%;
    }
}
.form-head {
    cursor: default;
}
.form-desk {
    cursor: default;
}

.modal {
    cursor: default !important;

    & .form-head {
        font: var(--title-M-narrow);
        color: #0f1926;
        width: 64%;
        @media (max-width: 1180px) {
            font-size: 4rem;
        }
        @media (max-width: 726px) {
            font-size: 3rem;
        }
        @media (max-width: 540px) {
            width: 100%;
            border-radius: 7px;
        }
    }

    & .form-desk {
        font: var(--body-L-narrow);
        color: #0f1926;
        padding-top: 2.5rem;
        width: 52%;
        opacity: 0.6;
        @media (max-width: 1180px) {
            font-size: 1.6rem;
        }
        @media (max-width: 767px) {
            width: 100%;
            padding-top: 1rem;
        }
    }
}

.fancybox__content {
    padding: 5rem;
    @media (max-width: 726px) {
        padding: 2.5rem 2rem;
    }
}

.modal {
    form {
        display: flex;
        gap: 1rem;
        padding-top: 4rem;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        @media (max-width: 560px) {
            gap: 1rem;
            padding-top: 2rem;
        }
    }

    form input {
        border: 1px solid #a3afcd;
        padding: 1.875rem 2.5rem 1.875rem 2.5rem;
        border-radius: 10px;
        color: #a3afcd;
        font: var(--body-XL);
        width: 24rem;
        font-size: 2.5rem;
        height: 8rem;
        @media (max-width: 1180px) {
            width: 20rem;
        }

        @media (max-width: 1023px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            flex: 0 0 100%;
        }

        @media (max-width: 560px) {
            height: 6rem;
            border-radius: 5px;
        }
    }

    input:required + label {
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        padding: 0 3px;
        left: 2.5rem;
        transform: translateY(0%);
    }

    input:invalid + label {
        font: var(--body-XL);
        color: #a3afcd;
        position: absolute;
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 726px) {
            font-size: 2rem;
        }
        form input:hover label {
            font-size: 1.6rem;
            font-weight: 700;
            top: -6px;
            padding: 0 3px;
            left: 2.5rem;
            transform: translateY(0%);
        }
    }

    .expert__item {
        position: relative;
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
        @media (max-width: 560px) {
            flex: 0 0 100%;
        }
    }

    form label {
        font: var(--body-XL);
        color: #a3afcd;
        position: absolute;
        left: 2.5rem;
        top: 28px;
        transition: all 0.2s ease;

        @media (max-width: 720px) {
            font-size: 2rem;
            top: 30px;
        }

        @media (max-width: 560px) {
            top: 22px;
            left: 1.5rem;
        }
    }

    form button {
        padding: 1.875rem 2.5rem 1.875rem 2.5rem;
        border-radius: 10px;
        color: #fff;
        font: var(--body-XL);
        width: 24rem;
        font-size: 2.5rem;
        background-color: #1b74e3;
        display: flex;
        height: 8rem;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        @media (max-width: 1180px) {
            width: 20rem;
        }

        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
        @media (max-width: 726px) {
            font-size: 2rem;
        }

        @media (max-width: 560px) {
            width: 100%;
            height: 6rem;
            border-radius: 7px;
        }
    }

    form button svg {
        fill: none;

        @media (max-width: 560px) {
            width: 25px;
            height: 17.08rem;
        }
    }

    .expert__agree {
        font: var(--body-S);
        color: #a3afcd;
        padding-top: 3rem;
        max-width: 44rem;
        display: flex;
        gap: 5px;

        @media (max-width: 560px) {
            max-width: 22rem;
            padding-top: 2.5rem;
        }
    }

    .expert__agree-text {
        @media (max-width: 560px) {
            font-size: 1.2rem;
        }
    }

    .expert__agree-star {
        @media (max-width: 560px) {
            font-size: 1.2rem;
        }
    }
}

.fancybox__content > .carousel__button.is-close {
    color: #a3afcd !important;
    right: 40px;
    top: 45px;
    box-shadow: none;
    @media (max-width: 1180px) {
        right: 45px;
    }
    @media (max-width: 726px) {
        top: 25px;
        right: 20px;
    }
    @media (max-width: 540px) {
        top: -40px;
        left: 50%;
        color: #fff !important;
        transform: translateX(-50%);
    }
}

.carousel__button svg {
    width: 40px;
    height: 40px;
    @media (max-width: 726px) {
        width: 35px;
        height: 35px;
    }
    @media (max-width: 540px) {
        width: 30px;
        height: 30px;
    }
}

.fancybox__slide {
    @media (max-width: 540px) {
        padding: 48px 15px 15px 15px;
        align-self: end;
    }
}

.modal {
    form .expert__item:hover label {
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        background-color: #fff;
        padding: 0 3px;
        left: 2.5rem;
        transform: translateY(0);
    }

    .parsley-error:focus ~ label,
    .parsley-error:not(:focus):valid ~ label {
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        background-color: #fff;
        padding: 0 3px;
        left: 2.5rem;
    }
    input:focus ~ label,
    input:not(:focus):valid ~ label {
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        background-color: #fff;
        padding: 0 3px;
        left: 2.5rem;
    }
    input:required + label {
        transition: all 0.3s ease;
        font-size: 1.6rem;
        font-weight: 700;
        top: -6px;
        background-color: #fff;
        padding: 0 3px;
        left: 2.5rem;
        transform: translateY(0%);
    }

    input:invalid + label {
        transition: all 0.3s ease;
        font: var(--body-XL);
        color: #a3afcd;
        position: absolute;
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.has-video .fancybox__content > .carousel__button.is-close {
    top: -50px;
    right: -50px;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
    outline: none;
}

.expert__agree-text a {
    color: #1b74e3;
}
.expert__agree-text:hover a {
    color: #0f1926;
}

.fancybox__track .fancybox__slide.has-video {
    align-self: center;
}
.modal .form {
    background-color: #fff;
    padding: 5rem;
    border-radius: 1rem;
    @media (max-width: 550px) {
        position: relative;
        padding: 2.5rem 2rem;
        width: 95%;
    }
}

.modal .button--light {
    width: 21.9rem;
    margin-top: 4rem;
    padding: 3rem 2.5rem;
    border: 1px solid var(--accent-primary-hover);
    justify-content: center;
    @media (max-width: 767px) {
        width: unset;
        width: 100%;
        margin-top: 2.5rem;
    }
    @media (max-width: 600px) {
        background-color: #1b74e3;
        color: #fff;
        justify-content: center;
        :hover {
            background-color: var(--accent-primary-hover);
        }
    }
}

.modal.active {
    @media (max-width: 550px) {
        justify-content: end;
        padding-bottom: 1.5rem;
    }
}

.modal__close {
    top: 0;
    @media (max-width: 550px) {
        top: -10%;
        left: 50%;
    }
}
.modal__close svg {
    @media (max-width: 550px) {
        width: 30px;
        height: 30px;
    }
}
.modal__close {
    top: 0;
    @media (max-width: 550px) {
        top: -10%;
        left: 50%;
    }
}
.modal__close svg {
    @media (max-width: 550px) {
        width: 30px;
        height: 30px;
    }
}

.form-header {
    position: relative;
    @media (max-width: 550px) {
        position: unset;
    }
}
.form-header {
    position: relative;
    @media (max-width: 550px) {
        position: unset;
    }
}

.form-desk {
    display: block;
    padding-top: 5px;
}

#success-modal form {
    background-color: #fcfdff;
}
