<div class='callback'>
    <div class='wide-container'>
        <div class='callback__wrapper'>
            <div class='callback__content-container'>
                <div class='callback__content-container__first'>
                    <h2>Свяжитесь с нами</h2>
                    <a href='mailto:nms@sportlp.ru'>nms@sportlp.ru</a>
                    <p>420061, г. Казань, Оренбургский тракт,&nbsp;д.&nbsp;160, офис 304</p>
                </div>
                <div class='callback__content-container__second'>
                    <div class='callback__content-container__second-mobile'>
                        <a href='tel:+78000008888'>8 800 000-88-88</a>
                        <div class='work-now'>
                            <svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                <circle cx='5' cy='5' r='5' fill='white'></circle>
                            </svg>
                            <p>Работаем сейчас</p>
                        </div>
                    </div>
                    <div class='callback__content-container__second-expert'>
                        <div class='callback__content-container__second-expert-avatar'>
                            <img src='img/alena.png' alt='' />
                        </div>
                        <div class='callback__content-container__second-expert-name'>
                            <div class='callback__content-container__second-expert-name-title'>
                                Алёна Аношина
                            </div>
                            <div class='callback__content-container__second-expert-name-description'>
                                Позвоните для консультации эксперту компании
                            </div>
                        </div>
                        <button class='callback__content-container__second-expert-name-hid-button'>
                            <a href='#callback-modal'>
                                Заказать звонок</a>
                            <svg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                <path
                                    fill-rule='evenodd'
                                    clip-rule='evenodd'
                                    d='M20.7057 18.7625L19.2394 17.2962C18.5069 16.5637 17.3194 16.5637 16.5882 17.2962L15.4357 18.4487C15.1782 18.7062 14.7882 18.7925 14.4557 18.6462C12.7857 17.915 11.1357 16.8062 9.66442 15.335C8.19942 13.87 7.09442 12.2275 6.36192 10.5637C6.20942 10.22 6.29817 9.81621 6.56442 9.54996L7.59692 8.51746C8.43567 7.67871 8.43567 6.49246 7.70317 5.75996L6.23692 4.29371C5.26067 3.31746 3.67817 3.31746 2.70192 4.29371L1.88692 5.10746C0.960671 6.03371 0.574421 7.36996 0.824421 8.69496C1.44192 11.9612 3.33942 15.5375 6.40067 18.5987C9.46192 21.66 13.0382 23.5575 16.3044 24.175C17.6294 24.425 18.9657 24.0387 19.8919 23.1125L20.7057 22.2987C21.6819 21.3225 21.6819 19.74 20.7057 18.7625V18.7625Z'
                                    stroke='#1B74E3'
                                    stroke-width='1.5'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                ></path>
                                <path
                                    d='M13.25 6.73875C14.5387 6.72125 15.8337 7.19875 16.8175 8.1825'
                                    stroke='#1B74E3'
                                    stroke-width='1.5'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                ></path>
                                <path
                                    d='M20.3525 4.64758C18.3912 2.68633 15.82 1.70508 13.25 1.70508'
                                    stroke='#1B74E3'
                                    stroke-width='1.5'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                ></path>
                                <path
                                    d='M18.2602 11.7501C18.2777 10.4614 17.8002 9.16637 16.8164 8.18262'
                                    stroke='#1B74E3'
                                    stroke-width='1.5'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                ></path>
                                <path
                                    d='M20.3516 4.64746C22.3128 6.60871 23.2941 9.17996 23.2941 11.75'
                                    stroke='#1B74E3'
                                    stroke-width='1.5'
                                    stroke-linecap='round'
                                    stroke-linejoin='round'
                                ></path>
                            </svg>

                        </button>
                    </div>
                    <div class='callback__content-container__contacts-mobile'>
                        <a href='mailto:nms@sportlp.ru'>nms@sportlp.ru</a>
                        <p>420061, г. Казань, Оренбургский тракт, д. 160, офис 304</p>
                    </div>
                    <div class='callback__content-container__second-callback'>
                        <p>Закажите звонок</p>
                        <form id="form_call" data-parsley-focus='none' data-need-validation>
                            <div class='callback__item'>
                                <input required type='text' id='name1' data-parsley-name /><label for='name1'>Ваше имя</label>
                            </div>
                            <div class='callback__item'>
                                <input class='phone js-phone-input' required type='tel' id='phone1' data-parsley-phone /><label for='phone1'>ваш телефон</label>
                            </div>
                            <button href='#success-modal' type='submit'>
                                <a class='button--light'>Отправить

                                    <svg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                        <path
                                            fill-rule='evenodd'
                                            clip-rule='evenodd'
                                            d='M17.469 31.1833L35.7807 21.4633C36.9624 20.8366 36.9624 19.15 35.7807 18.5216L17.4957 8.81665C16.1157 8.08331 14.569 9.46665 15.154 10.91L18.8024 19.91L15.124 29.0933C14.5474 30.5383 16.0924 31.9133 17.469 31.1833Z'
                                            stroke='#1B74E3'
                                            stroke-width='2'
                                            stroke-linecap='round'
                                            stroke-linejoin='round'
                                        ></path>
                                        <path
                                            d='M18.8047 19.9167L36.6714 20'
                                            stroke='#1B74E3'
                                            stroke-width='2'
                                            stroke-linecap='round'
                                            stroke-linejoin='round'
                                        ></path>
                                        <path
                                            d='M6.67188 24.9998H9.33854'
                                            stroke='#1B74E3'
                                            stroke-width='2'
                                            stroke-linecap='round'
                                            stroke-linejoin='round'
                                        ></path>
                                        <path
                                            d='M5 19.9998H9.33333'
                                            stroke='#1B74E3'
                                            stroke-width='2'
                                            stroke-linecap='round'
                                            stroke-linejoin='round'
                                        ></path>
                                        <path
                                            d='M3.33594 14.9998H9.33594'
                                            stroke='#1B74E3'
                                            stroke-width='2'
                                            stroke-linecap='round'
                                            stroke-linejoin='round'
                                        ></path>
                                    </svg>
                                </a>
                            </button>
                        </form>
                        <div class='expert__agree'>
                            <div class='expert__agree-star'>*</div>
                            <div class='expert__agree-text'>Нажимая кнопку «Отправить» вы соглашаетесь с <a target='blank' href='#'>политикой
                                    конфиденциальности</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>