<header class="header twink">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo__nav">
                <div class="header__logo"><a href="index.html">
                    <svg width="52" height="40" viewBox="0 0 52 40" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M31.9015 34.4044H51.181V39.8055H25.0527V0.875H31.9015V34.4044Z"
                            fill="currentColor" />
                        <path
                            d="M22.7853 29.4385C22.7853 27.7273 22.1717 26.4082 20.9446 25.4813C19.7354 24.5544 17.5427 23.6185 14.3665 22.6738C11.1902 21.7291 8.66366 20.6774 6.78679 19.5187C3.19547 17.2906 1.3998 14.385 1.3998 10.8021C1.3998 7.66488 2.69015 5.08021 5.27085 3.04813C7.8696 1.01604 11.2353 0 15.3681 0C18.1112 0 20.5565 0.499109 22.7041 1.49733C24.8517 2.49554 26.5391 3.92157 27.7663 5.7754C28.9935 7.61141 29.607 9.65241 29.607 11.8984H22.7853C22.7853 9.86631 22.1356 8.27986 20.8363 7.13904C19.5549 5.98039 17.7142 5.40107 15.3139 5.40107C13.0761 5.40107 11.3346 5.87344 10.0894 6.81818C8.86218 7.76292 8.24859 9.082 8.24859 10.7754C8.24859 12.2014 8.91632 13.3957 10.2518 14.3583C11.5873 15.303 13.789 16.2299 16.8569 17.139C19.9249 18.0303 22.3883 19.0553 24.2471 20.2139C26.106 21.3547 27.4685 22.6738 28.3347 24.1711C29.201 25.6506 29.6341 27.3886 29.6341 29.385C29.6341 32.6292 28.3708 35.2139 25.8443 37.139C23.3358 39.0463 19.9249 40 15.6117 40C12.7603 40 10.1345 39.4831 7.73425 38.4492C5.35207 37.3975 3.49324 35.9537 2.15777 34.1176C0.840351 32.2816 0.181641 30.1426 0.181641 27.7005H7.03042C7.03042 29.9109 7.77035 31.6221 9.25019 32.8342C10.73 34.0463 12.8505 34.6524 15.6117 34.6524C17.9939 34.6524 19.7805 34.18 20.9716 33.2353C22.1808 32.2727 22.7853 31.0071 22.7853 29.4385Z"
                            fill="currentColor" />
                    </svg></a>

                </div>
                <button class="header__burger">
                    <svg>
                        <use xlink:href="#burger-icon"></use>
                    </svg>
                    {{!-- <span>Меню сайта</span> --}}
                </button>
                <nav class="header__nav">
                    <ul class="header__menu">
                        {{!-- {{#each menu }}
                        <li>
                            <a href="#" class="header__menu-item">{{this}}</a>
                        </li>
                        {{/each}} --}}
                        <li> <a class="header__menu-item" href="index.html"> О модели</a> </li>
                        <li data-page="services"> <a class="header__menu-item" href="services.html"> Сервис </a> </li>
                        <li data-page="media"> <a class="header__menu-item" href="media.html"> Медиагалерея </a> </li>
                        <li data-page="contacts"> <a class="header__menu-item" href="contacts.html"> Контакты </a> </li>
                    </ul>
                </nav>
            </div>
            <a href="#callback-modal" class="header__button button-ellipse">Оставить заявку</a>
        </div>
    </div>
    {{> menu-burger }}
</header>