<header class="header fix-blocks">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                {{> logo }}
            </div>
            <button class="header__burger">
                <svg>
                    <use xlink:href="#burger-icon"></use>
                </svg>
                <span>Меню сайта</span>
            </button>
            <nav class="header__nav">
                <ul class="header__menu">
                    {{!-- {{#each menu }}
                        <li>
                            <a href="#" class="header__menu-item">{{this}}</a>
                        </li> --}}
                         <li>
                            <a href="#features">Особенности</a>
                        </li>
                         <li>
                            <a href="#configure">Конфигурация</a>
                        </li>
                         <li>
                            <a href="#characters">Характеристики</a>
                        </li>
                         <li>
                            <a href="#reviews">Отзывы</a>
                        </li>
                        <li>
                            <a href="contacts.html">Контакты</a>
                        </li>
                       
                    {{!-- {{/each}} --}}
                </ul>
            </nav>
            <a href="#callback-modal" class="header__button button-ellipse">Оставить заявку</a>
        </div>
    </div>
    {{> menu-burger }}
</header>