<div class="menu-burger">
    <div class="container">
        <div class="menu-burger__wrapper">
            <div class="menu-burger__video-column">
                <div class="menu-burger__video">
                    <div class="menu-burger__video-billet">
                        {{> billet }}
                    </div>
                    <div class="menu-burger__video-description">
                        <p>Детальный видеообзор модели на базе УАЗ</p>
                    </div>
                </div>
            </div>
            <div class="menu-burger__menu-column">
                <button class="menu-burger__close-button">
                    <svg>
                        <use xlink:href="#cross-icon"></use>
                    </svg>
                </button>
                <nav class="menu-burger__nav">
                    <ul class="menu-burger__menu">
                        <li class="menu-burger__menu-item">
                            <a href="#">О модели</a>
                            <div class="menu-burger__menu-item-underline"></div>
                            <ul class="menu-burger__submenu">
                                {{#each submenuBurger }}
                                    <li class="menu-burger__submenu-item">
                                        <a href="#">{{this}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                     
                            <li class="menu-burger__menu-item">
                                <a href="media.html">Медиагалерея</a>
                                <div class="menu-burger__menu-item-underline"></div>
                            </li>
                             <li class="menu-burger__menu-item">
                                <a href="services.html">Сервис</a>
                                <div class="menu-burger__menu-item-underline"></div>
                            </li>
                             <li class="menu-burger__menu-item">
                                <a href="contacts.html">Контакты</a>
                                <div class="menu-burger__menu-item-underline"></div>
                            </li>
                      
                    </ul>
                </nav>
                <div class="menu-burger__contacts">
                    <div class="menu-burger__phone">
                        <a href="tel:88000008888">8 800 000-88-88</a>
                        <div class="menu-burger__contact-underline"></div>
                    </div>
                    <div class="menu-burger__email">
                        <a href="mailto:nms@sportlp.ru">nms@sportlp.ru</a>
                        <div class="menu-burger__contact-underline"></div>
                    </div>
                    <div class="menu-burger__socials">
                        {{> socials data=socials }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>