<ul class="socials">
    {{#each socials }}
        <li class="socials__item">
            <svg>
                <use xlink:href="#{{this}}"></use>
            </svg>
        </li>
    {{/each}}
</ul>