<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
  
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Заголовок">
    <meta property="og:description" content="Описание">
    <meta property="og:url" content="https://example.com/">
    <meta property="og:image" content="https://via.placeholder.com/350x150">
    <meta property="og:site_name" content="Бренд или имя сайта">
    <meta property="og:locale" content="ru_RU">
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    
   {{!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}
   {{!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
   <script src="https://parsleyjs.org/dist/parsley.js"></script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="assets/backend/backend.css" />
    {{!-- <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  /> --}}

    <title>
        {{ title }}
    </title>
</head>

<body class="no-touch" ontouchstart="">
    <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
        {{> sprite }}
    </div>

    <div class="page-content">
        {{> headertwink }}
        <main class="page-main">
            {{#block "main"}}

            {{/block}}
        </main>
        {{> footer }}
        {{> modals }}
        {{> ie-placeholder }}
        <script src="js/app.js"></script>
        <script src="assets/backend/backend.js"></script>
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        {{!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> --}}
    </div>
</body>

</html>