.callback {
  position: relative;
  color: #FFFFFF;
  padding-bottom: 8rem;
}

.callback__wrapper {
  background: #2F83EB;
  border-radius: 10px;
  padding: 9rem 9.7rem 5.4rem 9.8rem;
  position: relative;
}

@media (max-width: 1040px) {
  .callback__wrapper {
    padding: 4.5rem 4rem;
  }
}

@media (max-width: 550px) {
  .callback__wrapper {
    padding: 2.5rem 2rem;
    border-radius: 5px;
  }
}

.callback__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14.3rem;
}

@media (max-width: 1280px) {
  .callback__content-container {
    gap: 4rem;
  }
}

@media (max-width: 1040px) {
  .callback__content-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 440px) {
  .callback__content-container {
    gap: 2rem;
  }
}

.callback__content-container__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.callback__content-container__first h2 {
  font: var(--title-L);
  font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));
}

@media (max-width: 550px) {
  .callback__content-container__first h2 {
    width: 10rem;
  }
}

.callback__content-container__first a {
  font: var(--title-S-narrow);
  font-size: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));
  padding-top: 19.5rem;
}

@media (max-width: 1040px) {
  .callback__content-container__first a {
    display: none;
  }
}

.callback__content-container__first p {
  font: var(--body-S);
  color: #FFFFFF;
  opacity: 0.5;
  padding-top: 4.7rem;
}

@media (max-width: 1040px) {
  .callback__content-container__first p {
    display: none;
  }
}

.callback__content-container__second-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

@media (max-width: 1040px) {
  .callback__content-container__second-mobile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 440px) {
  .callback__content-container__second-mobile {
    gap: 2rem;
  }
}

.callback__content-container__second-expert-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.callback__content-container__second-expert-avatar {
  border-radius: 50%;
}

@media (max-width: 440px) {
  .callback__content-container__second-expert-avatar {
    width: 75px;
    height: 75px;
  }
}

.callback .work-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1.4rem 2rem 1.4rem 1.5rem;
  border-radius: 5px;
  gap: 1rem;
}

@media (max-width: 1040px) {
  .callback .work-now {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 550px) {
  .callback .work-now {
    padding: 0.85rem 1.5rem 0.85rem  1rem;
    gap: 0.5rem;
  }
}

.callback .work-now svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 550px) {
  .callback .work-now svg {
    width: 5px;
    height: 5px;
  }
}

.callback .work-now p {
  font: var(--body-XL);
}

@media (max-width: 440px) {
  .callback .work-now p {
    font-size: 1.6rem;
  }
}

.callback__content-container__second-expert-name-title {
  font: var(--body-XX);
}

@media (max-width: 440px) {
  .callback__content-container__second-expert-name-title {
    font-size: 2.5rem;
  }
}

.callback__content-container__second-expert-name-description {
  font: var(--body-S);
  max-width: 28rem;
}

@media (max-width: 440px) {
  .callback__content-container__second-expert-name-description {
    font-size: 1.2rem;
  }
}

.callback__content-container__second-mobile a {
  font: var(--title-L);
  font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));
}

.callback__content-container__second-expert-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 540px) {
  .callback__content-container__second-expert-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

@media (max-width: 440px) {
  .callback__content-container__second-expert-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 68%;
            flex: 0 0 68%;
  }
}

@media (max-width: 367px) {
  .callback__content-container__second-expert-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
            flex: 0 0 67%;
  }
}

.callback__content-container__second-expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 4.5rem;
  padding-top: 4rem;
}

@media (max-width: 1040px) {
  .callback__content-container__second-expert {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .callback__content-container__second-expert {
    gap: 2rem;
  }
}

@media (max-width: 440px) {
  .callback__content-container__second-expert {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 420px) {
  .callback__content-container__second-expert {
    gap: 2rem;
    padding-bottom: 2.3rem;
  }
}

.callback__content-container__second {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 69%;
          flex: 0 0 69%;
}

@media (max-width: 800px) {
  .callback__content-container__second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.callback__content-container__second-callback p {
  font: var(--title-S-narrow);
  font-size: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));
}

.callback__content-container__second-callback {
  padding-top: 4.5rem;
}

@media (max-width: 1040px) {
  .callback__content-container__second-callback {
    display: none;
  }
}

.callback__content-container__second-callback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-top: 2.5rem;
}

@media (max-width: 1280px) {
  .callback__content-container__second-callback form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.callback__content-container__second-callback form input {
  border: 1px solid #fff;
  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  border-radius: 10px;
  color: #FFFFFF;
  font: var(--body-XL);
  width: 24rem;
  font-size: 2.5rem;
  height: 8rem;
}

@media (max-width: 1280px) {
  .callback__content-container__second-callback form input {
    width: 100%;
  }
}

.callback__content-container__second-callback form .callback__item:hover label {
  font-size: 1.6rem;
  font-weight: 700;
  top: -6px;
  background-color: #4A8EE1;
  padding: 0 3px;
}

.callback__item {
  position: relative;
}

@media (max-width: 1280px) {
  .callback__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}

@media (max-width: 560px) {
  .callback__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.callback__content-container__second-callback form label {
  font: var(--body-XL);
  color: #FFFFFF;
  position: absolute;
  left: 2.5rem;
  top: 28px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

@media (max-width: 720px) {
  .callback__content-container__second-callback form label {
    font-size: 2rem;
    top: 30px;
  }
}

.callback__content-container__second-callback form button {
  border: 1px solid #fff;
  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  border-radius: 10px;
  color: #1B74E3;
  font: var(--body-XL);
  width: 24rem;
  font-size: 2.5rem;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .callback__content-container__second-callback form button {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .callback__content-container__second-callback form button {
    font-size: 2rem;
  }
}

@media (max-width: 560px) {
  .callback__content-container__second-callback form button {
    width: 100%;
  }
}

.callback__content-container__second-callback form button svg {
  fill: none;
}

.callback__content-container__second-expert-name-hid-button {
  display: none;
}

@media (max-width: 1040px) {
  .callback__content-container__second-expert-name-hid-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    font: var(--other-L);
    color: #1B74E3;
    padding: 2.2rem 2.2rem 2.2rem 2.5rem;
    border-radius: 7px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 550px) {
  .callback__content-container__second-expert-name-hid-button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 1.8rem 2rem 1.8rem 2.5rem;
  }
}

.callback__content-container__second-expert-name-hid-button svg {
  fill: none;
}

.callback__content-container__contacts-mobile {
  display: none;
}

@media (max-width: 1040px) {
  .callback__content-container__contacts-mobile {
    display: block;
    padding-top: 2.5rem;
  }
}

.callback__content-container__contacts-mobile a {
  font: var(--title-S-narrow);
  font-size: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));
}

.callback__content-container__contacts-mobile p {
  padding-top: 1rem;
  opacity: 0.5;
  max-width: 32rem;
}

@media (max-width: 440px) {
  .callback__content-container__contacts-mobile p {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=callback.css.map */