.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 8rem;
}

@media (max-width: 580px) {
  .features {
    padding-bottom: 6.5rem;
  }
}

.features__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 3rem 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 1065px) {
  .features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__list {
  grid-column: span 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 7.5rem 2.5rem;
}

@media (max-width: 580px) {
  .features__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.features__item-wrapper {
  grid-column: span 4;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

@media (max-width: 580px) {
  .features__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.5rem;
  }
}

@media (max-width: 350px) {
  .features__item {
    gap: 1.5rem;
  }
}

.features__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 9rem;
  height: 9rem;
  margin-bottom: 3rem;
  background-color: var(--main-tertiary);
  border-radius: 50%;
}

@media (max-width: 580px) {
  .features__item-img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 0;
  }
}

.features__item-img svg {
  width: 6rem;
  height: 6rem;
}

@media (max-width: 580px) {
  .features__item-img svg {
    width: 4rem;
    height: 4rem;
  }
}

.features__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.features__item-title {
  margin-bottom: 2rem;
  font: var(--title-S);
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1190px) {
  .features__item-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 670px) {
  .features__item-title {
    font-size: 3rem;
  }
}

@media (max-width: 580px) {
  .features__item-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}

.features__item-title:hover {
  color: var(--accent-primary);
}

.features__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  max-width: 32rem;
  margin-top: auto;
}

.features__item-text p {
  font: var(--body-L-narrow);
}

@media (max-width: 670px) {
  .features__item-text p {
    font-size: 1.6rem;
  }
}

.features__img-slider {
  grid-column: span 4;
}

.features__img-slider img {
  min-width: 36.7rem;
  border-radius: 1rem;
  overflow: hidden;
}

@media (max-width: 1065px) {
  .features__img-slider img {
    width: 100%;
    min-width: auto;
    aspect-ratio: 1 / 1;
  }
}
/*# sourceMappingURL=features.css.map */