.menu-burger {
  position: absolute;
  right: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--main-primary);
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-burger.active {
  right: 0;
}

.menu-burger__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 2.5rem;
}

.menu-burger__video-column {
  grid-column: span 4;
  padding-top: 20rem;
}

@media (max-width: 900px) {
  .menu-burger__video-column {
    display: none;
  }
}

.menu-burger__video {
  max-width: 26rem;
}

.menu-burger__video-billet .billet__play-button {
  width: 5.5rem;
  height: 5.5rem;
}

.menu-burger__video-billet .billet__play-button svg {
  width: 1.8rem;
  height: 1.8rem;
}

.menu-burger__video-description {
  max-width: 17.6rem;
  margin-top: 2rem;
  margin-left: 3.7rem;
  font: var(--body-S);
}

.menu-burger__menu-column {
  grid-column: span 8;
  padding-top: 4.5rem;
}

@media (max-width: 690px) {
  .menu-burger__menu-column {
    padding-top: 2rem;
  }
}

@media (max-width: 570px) {
  .menu-burger__menu-column {
    grid-column: 1 / -1;
  }
}

.menu-burger__close-button {
  margin-bottom: 11.5rem;
}

.menu-burger__close-button svg {
  width: 4rem;
  height: 4rem;
}

@media (max-width: 900px) {
  .menu-burger__close-button {
    margin-left: 8.5rem;
  }
}

@media (max-width: 440px) {
  .menu-burger__close-button {
    margin-bottom: 3.2rem;
  }
}

.menu-burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
  margin-bottom: 9.2rem;
}

@media (max-width: 440px) {
  .menu-burger__menu {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
    margin-bottom: 8rem;
  }
}

.menu-burger__menu-item {
  position: relative;
  font: var(--title-XL);
  text-transform: uppercase;
}

.menu-burger__menu-item:hover .menu-burger__menu-item-underline {
  width: 100%;
}

@media (max-width: 1145px) {
  .menu-burger__menu-item {
    font-size: 7rem;
  }
  .menu-burger__menu-item:first-child .menu-burger__menu-item-underline {
    bottom: 10rem;
  }
}

@media (max-width: 440px) {
  .menu-burger__menu-item {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(163, 175, 205, 0.1);
    font: var(--body-XX);
  }
  .menu-burger__menu-item:hover .menu-burger__menu-item-underline {
    width: 0;
  }
  .menu-burger__menu-item:last-child {
    border-bottom: 0;
  }
}

.menu-burger__submenu {
  display: none;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 1145px) {
  .menu-burger__submenu {
    display: -ms-grid;
    display: grid;
  }
}

.menu-burger__submenu-item {
  grid-column: span 2;
  font: var(--body-M-narrow);
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.menu-burger__submenu-item:hover {
  color: #fff;
}

.menu-burger__menu-item-underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.3rem;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-burger__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.5rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 62.5rem;
  font: var(--body-XX);
  text-transform: uppercase;
}

@media (max-width: 440px) {
  .menu-burger__contacts {
    font: var(--body-XL);
  }
}

.menu-burger__phone, .menu-burger__email {
  position: relative;
}

.menu-burger__phone:hover .menu-burger__contact-underline, .menu-burger__email:hover .menu-burger__contact-underline {
  width: 100%;
}

.menu-burger__contact-underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 870px) {
  .menu-burger__socials {
    width: 100%;
  }
}
/*# sourceMappingURL=menu-burger.css.map */