.order {
  padding: 8rem 0;
}

.order__inner {
  background-image: url(../../img/block_7.jpg);
  padding: 9rem 9.8rem;
  padding: calc(25px + (90 - 25) * (100vw - 360px) / (1680 - 360)) calc(20px + (98 - 20) * (100vw - 360px) / (1680 - 360));
  border-radius: 10px;
}

.order__inner p {
  font: var(--body-XL);
  font-family: var(--main-ff);
  padding-top: calc(20px + (75 - 20) * (100vw - 360px) / (1680 - 360));
}

@media (max-width: 767px) {
  .order__inner p {
    width: 73%;
    margin-left: auto;
    padding-top: 0;
  }
}

.order__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  gap: calc(25px + (100 - 25) * (100vw - 360px) / (1680 - 360));
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order__inner-content h2 {
  font: var(--title-L);
  font-size: calc(40px + (85 - 40) * (100vw - 360px) / (1680 - 360));
}

.order__inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(50px + (142 - 50) * (100vw - 360px) / (1680 - 360));
}

@media (max-width: 1280px) {
  .order__inner-main {
    gap: 4rem;
  }
}

@media (max-width: 1179px) {
  .order__inner-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.order__inner-main-inner {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.order__inner-main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.5%;
          flex: 0 0 23.5%;
  width: 23.5%;
}

.order__inner-main-left p {
  font: var(--body-XX);
  color: #fff;
  padding-top: 0;
}

@media (max-width: 1179px) {
  .order__inner-main-left {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .order__inner-main-left {
    width: 100%;
  }
  .order__inner-main-left p {
    display: none;
  }
}

.order__inner-main-text {
  color: #ffffff;
  opacity: 0.6;
  font: var(--body-S);
}

.order__inner-main-btn {
  background-color: #fff;
  color: var(--accent-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: var(--body-XL);
  text-transform: uppercase;
  padding: 2rem 2.5rem;
  border-radius: 10px;
}

.order__inner-main-icon svg path {
  fill: #fff;
}

.order__inner-main-items {
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media (max-width: 1179px) {
  .order__inner-main-items {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .order__inner-main-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
}

.order__inner-main-item {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  max-width: 29rem;
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .order__inner-main-item {
    width: 100%;
    max-width: unset;
  }
}

.order__inner-main-item span {
  color: #ffffff;
  opacity: 0.2;
  font: var(--title-L);
}

@media (max-width: 535px) {
  .order__inner-main-item span {
    display: none;
  }
}

.order__inner-main-item:nth-child(1)::before {
  content: '';
  position: absolute;
  background-image: url(../../img/11.webp);
  background-repeat: no-repeat;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 60%;
  max-width: 14vw;
  width: 100%;
  height: 14vw;
  background-size: contain;
}

.order__inner-main-item:nth-child(2)::before {
  content: '';
  position: absolute;
  background-image: url(../../img/22.webp);
  background-repeat: no-repeat;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 60%;
  max-width: 14vw;
  width: 100%;
  height: 14vw;
  background-size: contain;
}

.order__inner-main-item:nth-child(3)::before {
  content: '';
  position: absolute;
  background-image: url(../../img/33.webp);
  background-repeat: no-repeat;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 60%;
  max-width: 14vw;
  width: 100%;
  height: 14vw;
  background-size: contain;
}

@media (max-width: 767px) {
  .order__inner .order__inner-main-item:nth-child(1)::before {
    content: '';
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 14%;
    max-width: unset;
    width: 80px;
    height: 80px;
    background-size: contain;
  }
  .order__inner .order__inner-main-item:nth-child(2)::before {
    content: '';
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 14%;
    max-width: unset;
    height: 80px;
    width: 80px;
    background-size: contain;
  }
  .order__inner .order__inner-main-item:nth-child(3)::before {
    content: '';
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 14%;
    max-width: 14vw;
    width: 80px;
    max-width: unset;
    height: 80px;
  }
}
/*# sourceMappingURL=order.css.map */