{{#extend "layouttwink"}}
{{#content "main"}}

    <section class="media">
      <div class="wide-container">
        <div class="media__wrapper">
          <h1>Медиагалерея</h1>
        <div class="media__filter">
          <button class="media__filter-btn btn_type_all button--light" autofocus data-filter="all">
            Все
          </button>
          <button class="media__filter-btn btn_type_img button--light" data-filter="images">
            Фотографии
          </button>
          <button class="media__filter-btn btn_type_video button--light" data-filter="video">
            Видео
          </button>
        </div>
        <div class="media__main">

            <div class="media__main-inner">
              <div class="card video">
                <div class="cart__video">
                    <a href="https://www.youtube.com/watch?v=kJZ7Bia772Q&feature=youtu.be&ab_channel=%D0%A1%D0%BF%D0%BE%D1%80%D1%82%D0%9B%D0%B0%D0%B9%D0%BD%D0%9F%D0%BE%D0%B2%D0%BE%D0%BB%D0%B6%D1%8C%D0%B5" data-fancybox >
                  <img class="lazyload" data-src="./img/v1.webp" alt="" />
                  <svg
                    width="56"
                    height="55"
                    viewBox="0 0 56 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="27.6816" cy="27.5" r="27.5" fill="#1B74E3" />
                    <path
                      d="M35.3457 26.6341C36.0124 27.019 36.0124 27.9813 35.3457 28.3662L24.5957 34.5727C23.929 34.9576 23.0957 34.4765 23.0957 33.7067L23.0957 21.2936C23.0957 20.5238 23.929 20.0427 24.5957 20.4276L35.3457 26.6341Z"
                      fill="white"
                    />
                  </svg>
                  </a>
                </div>
                <p>Демонстрация ключевых функций</p>
              </div>

              <div class="card video">
                <div class="cart__video">
                     <a href="https://www.youtube.com/watch?v=kJZ7Bia772Q&feature=youtu.be&ab_channel=%D0%A1%D0%BF%D0%BE%D1%80%D1%82%D0%9B%D0%B0%D0%B9%D0%BD%D0%9F%D0%BE%D0%B2%D0%BE%D0%BB%D0%B6%D1%8C%D0%B5" data-fancybox >
                  <img class="lazyload" data-src="./img/v5.webp" alt="" />
                  <svg
                    width="56"
                    height="55"
                    viewBox="0 0 56 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="27.6816" cy="27.5" r="27.5" fill="#1B74E3" />
                    <path
                      d="M35.3457 26.6341C36.0124 27.019 36.0124 27.9813 35.3457 28.3662L24.5957 34.5727C23.929 34.9576 23.0957 34.4765 23.0957 33.7067L23.0957 21.2936C23.0957 20.5238 23.929 20.0427 24.5957 20.4276L35.3457 26.6341Z"
                      fill="white"
                    />
                  </svg>
                  </a>
                </div>
                <p>Обзор УМКИ на базе УАЗ</p>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img3_big.jpg"><img class="lazyload" data-src="./img/5.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img2_big.jpg"><img class="lazyload" data-src="./img/2.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img10_big.jpg"><img class="lazyload" data-src="./img/7.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img10_big.jpg"><img class="lazyload" data-src="./img/7.webp" alt="" /></a>
              </div>

              <div class="card images">
                <a data-fancybox href="./img/img13_big.jpg"><img class="lazyload" data-src="./img/8.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img3_big.jpg"><img class="lazyload" data-src="./img/5.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img6_big.jpg"><img class="lazyload" data-src="./img/6.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img10_big.jpg"><img class="lazyload" data-src="./img/7.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img13_big.jpg"><img class="lazyload" data-src="./img/8.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img7_big.jpg"><img class="lazyload" data-src="./img/9.webp" alt="" /></a>
              </div>
              <div class="card video">
                <div class="cart__video">
                   <a href="https://www.youtube.com/watch?v=kJZ7Bia772Q&feature=youtu.be&ab_channel=%D0%A1%D0%BF%D0%BE%D1%80%D1%82%D0%9B%D0%B0%D0%B9%D0%BD%D0%9F%D0%BE%D0%B2%D0%BE%D0%BB%D0%B6%D1%8C%D0%B5" data-fancybox >
                  <img class="lazyload" data-src="./img/v3.webp" alt="" />
                  <svg
                    width="56"
                    height="55"
                    viewBox="0 0 56 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="27.6816" cy="27.5" r="27.5" fill="#1B74E3" />
                    <path
                      d="M35.3457 26.6341C36.0124 27.019 36.0124 27.9813 35.3457 28.3662L24.5957 34.5727C23.929 34.9576 23.0957 34.4765 23.0957 33.7067L23.0957 21.2936C23.0957 20.5238 23.929 20.0427 24.5957 20.4276L35.3457 26.6341Z"
                      fill="white"
                    />
                  </svg>
                  </a>
                </div>
                <p>Видеообзор эксперта</p>
              </div>

              <div class="card images">
                <a data-fancybox href="./img/img11_big.jpg"><img class="lazyload" data-src="./img/10.webp" alt="" /></a>
              </div>

              <div class="card video">
                <div class="cart__video">
                    <a href="https://www.youtube.com/watch?v=kJZ7Bia772Q&feature=youtu.be&ab_channel=%D0%A1%D0%BF%D0%BE%D1%80%D1%82%D0%9B%D0%B0%D0%B9%D0%BD%D0%9F%D0%BE%D0%B2%D0%BE%D0%BB%D0%B6%D1%8C%D0%B5" data-fancybox >
                  <img class="lazyload" data-src="./img/v3.webp" alt="" />
                  <svg
                    width="56"
                    height="55"
                    viewBox="0 0 56 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="27.6816" cy="27.5" r="27.5" fill="#1B74E3" />
                    <path
                      d="M35.3457 26.6341C36.0124 27.019 36.0124 27.9813 35.3457 28.3662L24.5957 34.5727C23.929 34.9576 23.0957 34.4765 23.0957 33.7067L23.0957 21.2936C23.0957 20.5238 23.929 20.0427 24.5957 20.4276L35.3457 26.6341Z"
                      fill="white"
                    />
                  </svg>
                  </a>
                </div>
                <p>Обзор процесса эксплуатации</p>
              </div>

              <div class="card images">
                <a data-fancybox href="./img/img5_big.jpg"><img class="lazyload" data-src="./img/11.png" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img7_big.jpg"><img class="lazyload" data-src="./img/9.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img13_big.jpg"><img class="lazyload" data-src="./img/8.webp" alt="" /></a>
              </div>

              <div class="card video">
                <div class="cart__video">
                  <a href="https://www.youtube.com/watch?v=kJZ7Bia772Q&feature=youtu.be&ab_channel=%D0%A1%D0%BF%D0%BE%D1%80%D1%82%D0%9B%D0%B0%D0%B9%D0%BD%D0%9F%D0%BE%D0%B2%D0%BE%D0%BB%D0%B6%D1%8C%D0%B5" data-fancybox >
                  <img  class="lazyload" data-src="./img/v4.webp" alt="" />
                  <svg
                    width="56"
                    height="55"
                    viewBox="0 0 56 55"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="27.6816" cy="27.5" r="27.5" fill="#1B74E3" />
                    <path
                      d="M35.3457 26.6341C36.0124 27.019 36.0124 27.9813 35.3457 28.3662L24.5957 34.5727C23.929 34.9576 23.0957 34.4765 23.0957 33.7067L23.0957 21.2936C23.0957 20.5238 23.929 20.0427 24.5957 20.4276L35.3457 26.6341Z"
                      fill="white"
                    />
                  </svg>
                  </a>
                </div>
                <p>Видео с производства</p>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img3_big.jpg"><img  class="lazyload" data-src="./img/5.webp" alt="" /></a>
              </div>
              <div class="card images">
                <a data-fancybox href="./img/img3_big.jpg"><img class="lazyload" data-src="./img/5.webp" alt="" /></a>
              </div>
            </div>
            <a id="loadMore" class="button--light">
              Загрузить больше
              <svg
                width="41"
                height="40"
                viewBox="0 0 41 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="11.8457"
                  y="11.6633"
                  width="23.3431"
                  height="23.3431"
                  rx="3"
                  stroke="#1B74E3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M23.5153 20V26.6694"
                  stroke="#1B74E3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20.1816 23.3347H26.8511"
                  stroke="#1B74E3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M11.8433 28.337H10.1759C7.41334 28.337 5.17383 26.0974 5.17383 23.3349V9.99598C5.17383 7.23341 7.41334 4.9939 10.1759 4.9939H23.5148C26.2774 4.9939 28.5169 7.23341 28.5169 9.99598V11.6633"
                  stroke="#1B74E3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="contacts">
        <div class="container">
            <div class="contacts__row">
                <div class="contacts__col">
                    <h2 class="secondary-heading contacts__large-heading">
                        Свяжитесь с нами
                    </h2>
                    <div class="contacts__inner-row">
                        <div class="contacts__inner-col">
                            <div class="contacts__specialist">
                                <div class="contacts__specialist-photo-container">
                                    <img data-src="img/specialist.jpg" alt="" class="contacts__specialist-photo lazyload">
                                </div>
                                <div class="contacts__specialist-col">
                                    <div class="contacts__specialist-name">
                                        Алёна Аношина
                                    </div>
                                    <div class="contacts__specialist-text">
                                        <p>
                                            Позвоните для консультации
                                            эксперту компании
                                        </p>
                                    </div>
                                    <a href="tel:88000008888"
                                       class="contacts__specialist-link contacts__specialist-link--phone"><span>8 800
                                        000-88-88</span></a>
                                </div>
                                <div class="contacts__specialist-col">
                                    <div class="contacts__specialist-online">
                                        Работаем сейчас
                                    </div>
                                    <a href="mailto:nms@sportlp.ru"
                                       class="contacts__specialist-link contacts__specialist-link--email"><span>nms@sportlp.ru</span></a>
                                </div>
                            </div>
                            <a href="#" class="contacts__go-to-office">
                                Пишите прямо сейчас, мы онлайн
                                <img data-src="img/whatsapp.svg" alt="" class="contacts__go-to-office-icon lazyload">
                            </a>
                            <div class="contacts__address">
                                Казань, ул. Кул Гали, 7б
                            </div>

                            <form action="/" method="POST" class="contacts__form" data-need-validation="">
                                <h4 class="contacts__form-heading">
                                    Обратный звонок
                                </h4>
                                <div class="contacts__form-row">
                                    <div class="contacts__form-input-wrapper">
                                        <input type="tel" class="text-input contacts__form-input js-phone-input" id="contactPhone" name="phone"
                                               required="" data-parsley-phone="">
                                        <label class="contacts__label" for="contactPhone">Ваш телефон</label>
                                    </div>
                                    <button type="submit" class="blue-btn contacts__form-submit">
                                        Отправить
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="contacts__inner-col">
                            <div class="contacts__map-wrapper">
                                <div class="contacts__map js-contacts-map" data-location="55.725823, 49.189266"
                                     data-pin="img/pin.svg">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <div id="order"  style="display: none; width: 500px;" class="popup ct">
    <div class="form form-style-1 hideLabels">
        <div class="form-header">
            <div class="form-head animate-top">
                Оставьте заявку на модель           
                 </div>
            <div class="form-desk animate-top">
                Заполните форму и наш менеджер свяжется с вами в ближайшее время </div>
        </div>

        <form id="form_media"  data-parsley-focus="none" data-need-validation>
            <div class="expert__item">
                <input data-options='{"autoFocus" : false}' type="text" required id="name3"><label for="name3">Ваше имя</label>
            </div>
            <div class="expert__item">
                <input class="phone js-phone-input" required id="phone3" type="tel" data-parsley-phone><label for="phone3">ваш
                    телефон</label>
            </div>
            <button class="button" type="submit"data-fancybox data-src="#thanks_manager">Отправить
                <svg width="36" height="26" viewBox="0 0 36 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.469 24.1833L33.7807 14.4633C34.9624 13.8366 34.9624 12.15 33.7807 11.5216L15.4957 1.81665C14.1157 1.08331 12.569 2.46665 13.154 3.90998L16.8024 12.91L13.124 22.0933C12.5474 23.5383 14.0924 24.9133 15.469 24.1833Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16.8047 12.9167L34.6714 13" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M4.67188 17.9998H7.33854" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M3 12.9998H7.33333" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M1.33594 7.99984H7.33594" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>

            </button>
        </form>
        <div class="expert__agree">
                    <div class="expert__agree-star">*</div>
                    <div class="expert__agree-text">Нажимая кнопку «Отправить» вы соглашаетесь с <a target="blank" href="#">политикой
                        конфиденциальности</a></div>
                </div>
    </div>
</div>
<div id="thanks" style="display: none; width: 500px;" class="popup ct thanks">
    <div class="form form-style-1 hideLabels">
        <div class="form-header">
            <div class="form-head animate-top">
               Ваша заявка успешно отправлена          
                 </div>
            <div class="form-desk animate-top">
                Наш эксперт свяжется с вами в ближайшее время </div>
        </div>
            <button class="button"  data-src="#consultant" data-fancybox="" type="submit">Отправить еще раз</button>

    </div>
</div>
{{/content}}
{{/extend}}