.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);

    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }

    @media (max-width: 499px) {
        @supports (width: max(20vw, 100px)) {
            padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-mobile-padding));
            padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-mobile-padding));
        }
    }
}

.wide-container {
    width: 100%;
    max-width: calc(var(--max-wide-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);

    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    font: var(--title-L);
}

.small-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: #495f73;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
    }
}

.secondary-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 100%;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 3rem;
        line-height: 100%;
    }
}

.text-input {
    height: 6rem;
    border: 2px solid #bed2e4;
    border-radius: 2rem;
    padding: 0 2.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 100%;
    transition: color 0.2s, border-color 0.2s;
    color: #011f3a;
    width: 100%;

    @include placeholder {
        color: #bed2e4;
    }

    &--small {
        height: 5.5rem;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
        padding: 0 2rem;
        border-radius: 1.5rem;
    }

    &:hover {
        border-color: #495f73;
    }

    &:focus {
        border-color: #148eff;
        color: #011f3a;
    }

    &.parsley-error {
        border-color: #148eff;
    }

    &--blue {
        border-color: #148eff;
        color: white;

        &:hover {
            border-color: #148eff;
        }

        &:focus {
            border-color: #148eff;
            color: white;
        }
        @include placeholder {
            color: rgba(white, 0.5);
        }
    }

    &--white {
        border-color: rgba(white, 0.5);
        color: white;
        @include placeholder {
            color: rgba(white, 0.5);
        }

        &:hover {
            border-color: white;
        }

        &:focus {
            border-color: #148eff;
            color: white;
        }
    }

    @include breakpoint(mobile) {
        height: 5rem;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
        padding: 0 2rem;
        border-radius: 1.5rem;
        border-width: 1.5px;
    }
}

.blue-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    align-self: flex-start;
    line-height: 100%;
    text-transform: uppercase;
    display: inline-block;
    padding: 2rem 3rem;
    background-color: var(--accent-primary);
    color: white;
    transition: background-color 0.2s, color 0.2s;
    border-radius: 2rem;
    flex-shrink: 0;
    white-space: nowrap;
    justify-content: center;
    text-align: center;
    transition: 0.3s;

    @include breakpoint(mobile) {
        padding: 2rem 4rem;
        border-radius: 1.5rem;

        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 100%;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        opacity: 0.9;
    }

    &--orange {
        background-color: #ed5835;

        .no-touch &:hover,
        .touch &:active {
            opacity: 0.9;
        }
    }
}

.main-title {
    font: var(--title-XL);
    color: #fff;
    text-transform: uppercase;
}

.animateTextWhite {
    background: linear-gradient(90deg, transparent, #fff 0%);
}

.animateTextBlue {
    background: linear-gradient(90deg, transparent, var(--accent-primary) 0%);
}

.animateTextBlack {
    background: linear-gradient(90deg, transparent, var(--main-primary) 0%);
}

.animateTextWhite,
.animateTextBlue,
.animateTextBlack {
    opacity: 0;
    user-select: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    animation: animateText1 2s ease-in-out forwards;

    h1, h2, h3, h2 {
        opacity: 1 !important;
    }
}

@keyframes animateText1 {
    0% {
        background-size: 0%;
        opacity: 1;
    }

    100% {
        background-size: 100%;
        opacity: 1;
    }
}

@keyframes animateTextOpacity1 {
    from {
        background-size: 0%;
        opacity: 0 !important;
    }

    to {
        background-size: 100%;
        opacity: 1 !important;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    background-color: var(--accent-primary);
    border: 1px solid var(--accent-primary);
    border-radius: 1rem;
    cursor: pointer;
    font: var(--body-XL);
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;

    &:hover {
        background-color: var(--accent-primary-hover);
        border-color: var(--accent-primary-hover);
    }

    &--bordered {
        background-color: transparent;
        color: var(--accent-primary);

        &:hover {
            color: var(--accent-primary);
            background-color: transparent;
        }
    }

    &--light {
        background-color: #fff;
        border-color: #fff;
        border-radius: 1rem;
        font: var(--body-XL);
        color: var(--accent-primary);
        padding: 1.7rem 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background-color: #eff6ff;
            border-color: #fff;
            color: var(--accent-primary-hover);
        }

        &:hover svg {
            stroke: var(--accent-primary-hover);
        }
    }
}

.button-ellipse {
    padding: 1.8rem 3.5rem;
    border: 1.5px solid #fff;
    border-radius: 99.9rem;

    font: var(--body-S-bold);
    color: #fff;
    text-align: center;

    transition: 0.3s;

    &:hover {
        background-color: var(--accent-primary-hover);
        border-color: var(--accent-primary-hover);
    }
}

.text-container {}

.parsley-errors-list li {
    background-color: var(--accent-secondary);
    padding: 0.5rem 1rem;
    border-radius: 0px 0px 10px 10px;
    margin-top: -1rem;
    color: #fff;
    z-index: 1000;
    position: relative;
    // display: none;
    border: none;
}

.parsley-error:focus+.parsley-errors-list li {
    background-color: var(--accent-secondary);
    display: block;
}

label {
    pointer-events: none;
}

.parsley-error {
    // border: 1px solid #fff!important;
}

.parsley-error:focus {
    border: 1px solid var(--accent-secondary) !important;
}

.parsley-error:focus~label,
.parsley-error:not(:focus):valid~label {
    font-size: 1.6rem;
    font-weight: 700;
    top: -6px;
    background-color: #4b88db;
    padding: 0 3px;
    left: 2.5rem;
}

.parsley-errors-list {
    margin-bottom: 0;
}

a:hover {
    color: #eff6ff;
}

.thanks {
    .button {
        margin-top: calc(25px + (40 - 25) * (100vw - 360px) / (1680 - 360));
    }
}

.form .button--light:hover {
    color: #196bd1;
    background: none;
    border: 1px solid #196bd1;
}

.form .button--light:hover a {
    color: #196bd1;
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}